.fivecol-2-3-2-3-2 .active-region-count--2 .region {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
.fivecol-2-3-2-3-2 .active-region-count--3 .region {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
.fivecol-2-3-2-3-2 .active-region-count--4 .region {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
.fivecol-2-3-2-3-2 .active-region-count--4 .region:first-child, .fivecol-2-3-2-3-2 .active-region-count--4 .region:last-child {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
}
.fivecol-2-3-2-3-2 .active-region-count--5 .region {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
}
.fivecol-2-3-2-3-2 .active-region-count--5 .region:nth-child(2n) {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
.fivecol-2-3-2-3-2 .regions:not(.active-region-count--1) .region:last-child {
  float: right;
  margin-right: 0;
}
