/* $Id$ */
/* adaptivethemes.com */

/**
 * @file at-admin.css
 * Contains all styles for the built in Administration Theme.
 */ 

body.section-admin,#at-admin{background:#FFF;color:#222;font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;margin:0;padding:0;}
#at-admin .two-sidebars .content-inner{margin:0 240px;}
#at-admin .sidebar-left .content-inner{margin-left:240px;}
#at-admin .sidebar-right .content-inner{margin-right:240px;}
#at-admin #sidebar-first{margin-left:-100%;width:240px;}
#at-admin #sidebar-last{margin-left:-240px;width:240px;}
#sidebar-last .block,#sidebar-first .block {padding:10px 10px 0;}
#content .region-inner{padding:0 10px;}
a{margin:0;padding:0;text-decoration:none;}
a:hover{background:transparent;color:#555;}
a:active,a:focus{border:0;color:#C00000;}
#container{background:#FFF;width:100%;}
body > #container{max-width:1280px;min-width:960px;width:100%;}
#main-content{padding-top:10px;}
.page-block .region{margin:0.5em 0;}
.page-block .region-inner,.page-block #main-content .block-region{background:#EAF2FA;border:2px dashed #9BBFCF;-moz-border-radius:3px;-webkit-border-radius:3px;}
.page-block #content .region-inner{background:#FFF;border:none;}
.page-block .region .block{background:#FFF;}
.page-block #main-content .block-region{padding:9px 12px;}
.block-region{background:transparent;border:none;color:#9BBFCF;font-weight:bold;}
#content-aside{background:#FFF;float:right;padding:0 0 20px 10px;width:240px;}
#skip-nav{height:1px;left:auto;overflow:hidden;position:absolute;text-align:right;top:-9999em;width:1px;}
#header{background:#464646;padding:0 0 7px;}
#header-inner{position:relative;}
.logo-site-name span{display:block;float:left;}
#logo{padding:0 10px 0 0;}
#site-name{font-size:1.33em;font-weight:bold;line-height:1.5;padding:2px 0 0;}
#site-name a:hover,#site-name a:focus{background:transparent;color:#CCC;}
#site-slogan{display:none;}
#user-date{clear:both;color:#CCC;font-size:0.94em;padding:0 10px;}
#header-blocks{float:left;padding:0 10px;}
#search-box{padding-top:5px;left:auto;right:0;position:absolute;}
#search-theme-form #search{margin:-5px 0 0;}
#search-theme-form label{color:#CCC;font-size:0.94em;}
#search-theme-form input.search_submit{-moz-border-radius:4px;-webkit-border-radius:4px;background:url(core-images/search-button-tile.png) repeat-x 0 -15px;border:1px solid #777;color:#999;cursor:pointer;padding:1px 6px;}
#search-theme-form input.search_submit:hover{background-position:0 -65px;color:#EEE;}
#edit-search_theme_form{-moz-border-radius:4px;-webkit-border-radius:4px;background:#EEE;width:120px;}
#breadcrumb{padding:0.5em 1em;}
.item-list ul.pager{-moz-border-radius:4px;-webkit-border-radius:4px;background-color:#EEE;color:#FFF;font-size:1.1em;margin:0 0 20px;padding-bottom:4px;padding-top:4px;}
.item-list ul.pager li{color:#FFF;margin:0;}
.item-list ul.pager li a{font-weight:bold;padding:6px 10px;}
.item-list ul.pager li a:hover{-moz-border-radius:4px;-webkit-border-radius:4px;background-color:#BBB;color:#FFF;font-weight:bold;}
.item-list ul.pager li.pager-current{-moz-border-radius:4px;-webkit-border-radius:4px;background-color:#bbb;color:#FFF;font-weight:bold;padding:6px 10px;}
#attribution{font-size:0.82em;padding:5px;text-align:center;}
#attribution a{color:#999;}
#attribution a:hover{color:#CCC;}
#node-form .node-col-last{float:right;margin-top:35px;width:24.5%;}
#node-form .node-col-last .buttons{-moz-border-radius:6px;-webkit-border-radius:6px;background:#EEE;border:1px solid #DADADA;padding:10px;}
#node-form .node-col-last .buttons #edit-submit,
#node-form .node-col-last .buttons #edit-preview,
#node-form .node-col-last .buttons #edit-delete{margin:2px 2px 2px 0;}
#node-form .node-col-first{float:left;width:74.5%;}
.block{padding: 10px 10px 0}
.block-inner{-moz-border-radius:6px;-webkit-border-radius:6px;border:1px solid #DFDFDF;clear:both;margin:0 0 1.5em;background:#FFF;}
.block-content{margin:0 0.5em 0.5em;}
#header-blocks .block {padding:0 10px;}
#header-blocks .block h2{color:#EEE;background:none;padding:0;margin:0;}
#header-blocks .block-inner{-moz-border-radius:0;-webkit-border-radius:0;border:none;clear:both;margin:0;background:transparent;color:#FFF}
#header-blocks .block-content{margin:0;}
#block-system-0 .block-inner{border:none;text-align:center;}
#block-user-3 .item-list h3{font-size:1em;}
ul.menu,ul.menu ul,ul.menu ul ul,ul.menu ul ul ul{margin:0 0 0 1.5em;padding:0;}
ul.menu li{padding:0.35em 0 0;}
ul.menu li a:hover,ul.menu li a:focus{outline:0;}
.block .item-list ul,.block .item-list ol{margin:0;padding:0;}
#main-content ul.menu,#main-content ul.menu li{font-weight:bold;list-style:none;margin:0;}
.block-at-admin {padding:10px 10px 0;}
.block-at-admin-inner{-moz-border-radius:3px;-webkit-border-radius:3px;background:#FFF;border:1px solid #13749F;margin-bottom:3px;}
.block-at-admin h2{background:#13749F;color:#FFF;padding:0.2em 0.5em;text-align:left;}
.block-at-admin legend{margin:0 0 0 -10px;padding:0;}
.block-at-admin fieldset{-moz-border-radius:0;-webkit-border-radius:0;background:#FFF;border:none;margin:0;}
.fieldset-block-info{margin-bottom:0.5em;}
.fieldset-block-info dt{border-bottom:1px solid #EEE;font-size:0.82em;}
.fieldset-block-info dd{color:#777;font-size:0.94em;margin:0 0 0.3em;}
.at-admin-block-edit-links{float:right;font-size:0.94em;margin-top:0.5em;padding-bottom:3px;}
.at-admin-block-edit-links .item-list li{display:inline;list-style:none;margin:0 0.3em 0 0;}
.at-admin-block-edit-links .item-list li a{-moz-border-radius:4px;-webkit-border-radius:4px;border:1px solid 
#BBB;color:#555;padding:3px 2px 2px 18px;text-transform:capitalize;}
.at-admin-block-edit-links .item-list li.first a{background: url(core-images/configure.png) no-repeat 0 0;}
.at-admin-block-edit-links .item-list li.last a{background: url(core-images/edit.png) no-repeat 0 0;}
.at-admin-block-edit-links .item-list li a:hover{background-color:#F7F7F7;border:1px solid #464646;color:#222;}
div.block div.block-edit{top:10px;right:15px;}
div.admin-panel{-moz-border-radius:6px;-webkit-border-radius:6px;border:1px solid #DFDFDF;margin:0 0 0.75em;padding:0;}
div.admin .left,div.admin .right{margin-left:0;margin-right:0;width:49%;}
.admin-panel .body{padding:0 1em;}
.admin-panel p{margin:0;padding:1em 0 0;}
.admin-panel ul,.admin-panel ul.menu,.admin-panel .item-list ul{padding:0 0 1em;}
.admin-panel ul li{color:#555;}
.admin-panel dl{margin:0;padding:1em 0;}
.admin-panel dt{font-weight:normal;}
.admin-panel dd{color:#555;font-size:0.94em;margin-left:0;}
.admin .compact-link{margin:0 0 1em;}
.admin .compact-link a{-moz-border-radius:8px;-webkit-border-radius:8px;border:1px solid #BBB;color:#555;padding:0.3em 0.5em;text-transform:capitalize;}
.page-admin-by-module .admin-panel .body p{color:#555;font-size:0.94em;}
#user-admin-filter ul li,#node-admin-filter ul li{list-style:none;}
.more-help-link{font-size:0.94em;line-height:1.667em;}
#permissions td.permission{padding-left:0.5em;}
#permissions td.module{background:#EEE;color:#222;font-weight:bold;}
tr .block{border:0;}
.local-tasks{margin-bottom:0.75em;}
ul.primary{border-bottom-color:#CCC;margin:1.5em 0 0;padding:0 0 0.4em 0.3em;}
ul.primary li a{-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;background:#EEE url('core-images/gray-grad2.png') repeat-x left top;border-color:#CCC;margin-right:0.08em;padding:0.3em 1em 0.4em;}
.local-tasks ul.primary li a:hover{background:#F5F5F5;border-color:#DDD;}
.local-tasks ul.primary li.active a{background:#FFF;border-bottom-color:#FFF;}
ul.secondary{border-bottom:1px solid #CCC;margin:1em 0 0;padding:0 0.3em 1em;}
ul.secondary li{border-right:0;list-style:none;padding:0 2em 0 0;}
ul.secondary li a:hover,ul.secondary li a.active{border-bottom:0;text-decoration:underline;}
table{border-color:silver;border-spacing:0;margin:1em 0;padding:0;}
caption,th{font-weight:bold;}
table,td,th{vertical-align:middle;}
thead th{border-bottom:0.1875em solid silver;color:#494949;font-weight:bold;}
td,th{border-bottom:1px solid #CCC;margin:0;padding:0.375em 0.5em;}
tr.odd,tr.info{background-color:#FFF;}
tr.even{background-color:#E9EFF2;}
tr.drag{background-color:#FFFFF0;}
tr.drag-previous{background-color:#FFD;}
tr.odd td.active{background-color:#EEE;}
tr.even td.active{background-color:#F7F7F7;}
td.region,td.module,td.container td.category{background-color:#EEE;border-bottom:1px solid #CCC;border-top:1.5em solid #FFF;color:#222;font-weight:bold;}
tr:first-child td.region,tr:first-child td.module,tr:first-child td.container{border-top-width:0;}
#block-admin-display-form tr .block{background:transparent;}
#system-modules td strong{display:block;width:110px;}
.fieldset-toggle-display{margin-bottom:0;}
.fieldset-toggle-display .form-item{-moz-border-radius:4px;-webkit-border-radius:4px;background:#EEE;float:left;margin:0.1em;padding:3px;width:16.5em;}
.fieldset-logo-image-settings{margin-right:1%;}
.fieldset-logo-image-settings,.fieldset-shortcut-icon-settings{float:left;width:46.5%;}
#edit-logo-path,#edit-favicon-path{width:90%;}
.fieldset-theme-specific-settings{clear:both;}
#system-theme-settings .button-wrapper{clear:both;display:block;}
.section-admin table{width:100%;}
#system-themes-form table.sticky-table{position:relative;z-index:10000;}
div.messages,div.help,div.error,div.warning{-moz-border-radius:6px;-webkit-border-radius:6px;}
div.error{background-color:#C00000;border:2px solid #FF3F3F;color:#FFF3F6;}
div.notice{background:#FFF6BF;border-color:#FFD324;color:#514721;}
div.status{background-color:#2A6827;border:2px solid #4DA449;color:#F1FFCF;}
div.help{background-color:#027AC6;border:2px solid #66BEF4;color:#F7F8F8;}
div.warning{background-color:#9F3800;border:2px solid #FFB900;color:#FFF6DF;}
tr div.warning{-moz-border-radius:0;-webkit-border-radius:0;background-color:transparent;border:0;color:#000;}
tr #acquia-agent-no-search{background-position:24px 5px;padding-left:75px;}
div.error a:link,div.error a:visited,div.status a:link,div.status a:visited,div.help a:link,div.help a:visited,div.warning a:link,div.warning a:visited{color:#FF0;font-weight:bold;}
div.error a:hover,div.error a:focus,div.status a:hover,div.status a:focus,div.help a:hover,div.help a:focus,div.warning a:hover,div.warning a:focus{color:#FF0;}
form{margin:0 0 1.5em;padding:0;}
input{-moz-border-radius:4px;-webkit-border-radius:4px;margin:0.375em 0.1875em 0;}
input.text,input.title,textarea,select{border:1px solid silver;margin:0.375em 0;}
input.form-text:focus,input.text:focus,input.title:focus,select:focus{background:#FFFFDF;border:1px solid #FC0;}
textarea:focus{border:1px solid #FC0;}
input.text,input.title{padding:0.375em;}
input.form-text,textarea{border:1px solid #CCC;height:auto;padding:0.1875em;}
textarea,input{font:1em Verdana,Arial,"Bitstream Vera Sans",sans-serif;}
div.form-item{margin-bottom:1em;margin-top:1em;}
.form-item textarea.error{padding:0.1875em;}
.form-item .description{font-size:0.9em;line-height:1.667em;}
span.form-required,span.marker{color:#8A1F11;}
#node-admin-filter ul{padding:0.375em 0;}
#edit-operation-wrapper select{margin:0.375em;}
div.resizable-textarea textarea{margin-top:0;}
.tips{font-size:1em;margin-left:3em;padding:0.1875em 0.375em 0.1875em 1.5em;}
input.form-submit,input.teaser-button{-moz-border-radius:4px;-moz-outline-radius:4px;-webkit-border-radius:4px;background:transparent url(core-images/blue-button.png) no-repeat top;border:1px solid #fff;color:#fff;cursor:pointer;font-size:0.94em;font-weight:bold;margin:3px;outline:1px solid #9BABB0;padding:2px 4px;}
input[value~=Save],#system-theme-settings input#edit-submit,.node-form input#edit-submit.form-submit,input#edit-save.form-submit{background:transparent url(core-images/green-button.png) no-repeat top;}
input#edit-delete.form-submit,#system-modules-uninstall input#edit-submit,#user-multiple-delete-confirm input#edit-submit{background:transparent url(core-images/red-button.png) no-repeat top;}
input[value~=Save]:hover,#system-theme-settings input#edit-submit:hover,input.form-submit:hover,input.teaser-button:hover,input#edit-save.form-submit,.node-form input#edit-submit.form-submit:hover,input#edit-delete.form-submit:hover,#system-modules-uninstall input#edit-submit:hover,#user-multiple-delete-confirm input#edit-submit:hover{background-position:bottom;cursor:pointer;}
fieldset{-moz-border-radius:6px;-webkit-border-radius:6px;background:#FFF url('core-images/gray-grad2.png') repeat-x left top;border:1px solid #dadada;margin:1.5em 0;padding:0.75em;}
.vertical-tabs fieldset{-moz-border-radius:0;-webkit-border-radius:0;background:#FFF;}
*:first-child+html fieldset{background-color:transparent;background-position:0 .75em;padding:0 1em 0.75em;}
*:first-child+html fieldset > .description,*:first-child+html fieldset .fieldset-wrapper .description{padding-top:1.5em;}
fieldset legend{display:block;font-weight:bold;padding:0 0.5em;}
*:first-child+html fieldset legend,*:first-child+html fieldset.collapsed legend{display:inline;}
html.js fieldset.collapsed{background:transparent;padding-bottom:.75em;padding-top:0;}
a:link,a:visited,a:visited,.block a:link,.block a:visited,.block a:visited,tr #acquia-agent-no-search a:link,tr #acquia-agent-no-search a:visited{color:#21759B;}
a:active,a.active,.block a:active,.block a.active{color:#222;}
a img,.page-block #content-top .block-region,.page-block #content-aside .block-region,.page-block #content-bottom .block-region{border:none;}
#skip-nav a:hover,#skip-nav a:focus,#site-name a:link,#site-name a:visited{color:#FFF;}
#search-theme-form,.fieldset-block-info dl,.at-admin-block-edit-links ul,.admin-panel .item-list ul,.page-admin-by-module .admin-panel .body,div.form-item div.description img{margin:0;}
h1#page-title,.node-form #edit-title,input.title{font-size:1.5em;}
.item-list ul.pager li a:link,.item-list ul.pager li a:visited{color:#444;}
.block-title,.admin-panel h3{background:#EDEDED url('core-images/gray-grad.png') repeat-x left bottom;display:block;font-size:1.18em;padding:0.3em 0.5em;}
#block-system-0 .fieldset-block-info,caption,th,td{text-align:left;}
.block a:hover,tr #acquia-agent-no-search a:hover{background:#EAF2FA;color:#555;}
ul.menu li a,.form-item strong.error{display:block;}
.block-at-admin .block-inner,
.block-at-admin .fieldset-wrapper{padding:3px;}
.admin .compact-link a:hover{background:#F7F7F7;border:1px solid #464646;color:#222;}
tbody,tfoot,thead,tr,label,legend{margin:0;padding:0;}
.block-at-admin h2 span {float:right;width:16px;height:16px;}
.block-at-admin h2 a.toggle-block {background: url(core-images/up-down.png) no-repeat center center;text-indent:-999em;overflow: hidden;display:block;}
span.tabledrag-changed{display:none;}
