/* $Id$ */
/* adaptivethemes.com */

/**
 * @file gpanel.css
 */
.gpanel div.block{padding:0 10px;}
 
.gpanel{margin-bottom:.75em;clear:both;}
.gpanel .region{display:inline;position:relative;}
/* 2 column */
.two-col-2x50 .region{width:49.5%;}
.two-col-2x50 .col-1{float:left;}
.two-col-2x50 .col-2{float:right;}
.two-col-33-66 .region{}
.two-col-33-66 .col-1{float:left;width:32.66%;}
.two-col-33-66 .col-2{float:right;width:66.34%;}
.two-col-66-33 .region{}
.two-col-66-33 .col-1{float:left;width:66.34%;}
.two-col-66-33 .col-2{float:right;width:32.66%;}
/* 3 column */
.three-col-3x33 .region{float:left;width:32.66%;}
.three-col-3x33 .col-2{right:-1%;}
.three-col-3x33 .col-3{right:-2%;}
.three-col-25-25-50 .region{float:left;}
.three-col-25-25-50 .col-1{width:24.25%;}
.three-col-25-25-50 .col-2{right:-1%;width:24.25%;}
.three-col-25-25-50 .col-3{right:-2%;width:49.5%;}
.three-col-50-25-25 .region{float:left;}
.three-col-50-25-25 .col-1{width:49.5%;}
.three-col-50-25-25 .col-2{right:-1%;width:24.25%;}
.three-col-50-25-25 .col-3{right:-2%;width:24.25%;}
/* 4 column */
.four-col-4x25 .section-1{float:left;width:49.5%;}
.four-col-4x25 .section-2{float:right;width:49.5%;}
.four-col-4x25 .col-1,.four-col-4x25 .col-3{float:left;width:49%;}
.four-col-4x25 .col-2,.four-col-4x25 .col-4{float:right;width:49%;}

/* 4 column */
.four-col-4x25 .region{float:left;width:25%;}
.four-col-4x25 .col-4{width:24.5%;}.four-col-4x25 .col-4{width:24.5%;}

/* 5 column */
.five-col-5x20 .region{float:left;width:19.2%;}
.five-col-5x20 .col-2{right:-1%;}
.five-col-5x20 .col-3{right:-2%;}
.five-col-5x20 .col-4{right:-3%;}
.five-col-5x20 .col-5{right:-4%;}
/* 6 column */
.six-col-6x16 .region{float:left;width:15.833%;}
.six-col-6x16 .col-2{right:-1%;}
.six-col-6x16 .col-3{right:-2%;}
.six-col-6x16 .col-4{right:-3%;}
.six-col-6x16 .col-5{right:-4%;}
.six-col-6x16 .col-6{right:-5%;}
