/* $Id$ */
/* adaptivethemes.com */

/**
 * @file gpanels-fluid.css
 */
.gpanel div.block{padding:0 10px;}
.gpanel{clear:both;}
.gpanel .region{display:inline;position:relative;float:left;}
/* 2 column */
.two-col-2x50 .col-1{width:50%;}
.two-col-2x50 .col-2{width:49.5%;}
.two-col-33-66 .region{float:left;}
.two-col-33-66 .col-1{width:33.333%;}
.two-col-33-66 .col-2{width:66.333%;}
.two-col-66-33 .region{float:left;}
.two-col-66-33 .col-1{width:66.666%;}
.two-col-66-33 .col-2{width:33%;}
/* 3 column */
.three-col-3x33 .region{width:33.333%;}
.three-col-3x33 .col-3{width:33%}
.three-col-25-25-50 .col-1{width:25%;}
.three-col-25-25-50 .col-2{width:25%;}
.three-col-25-25-50 .col-3{width:49.5%;}
.three-col-50-25-25 .col-1{width:50%;}
.three-col-50-25-25 .col-2{width:25%;}
.three-col-50-25-25 .col-3{width:24.5%;}
/* 4 column */
.four-col-4x25 .region{width:25%;}
.four-col-4x25 .col-4{width:24.5%;}
/* 5 column */
.five-col-5x20 .region{width:20%;}
.five-col-5x20 .col-5{width:19.75%}
/* 6 column */
.six-col-6x16 .region{width:16.666%;}
.six-col-6x16 .col-6{width:16.333%}