/* $Id$ */
/* adaptivethemes.com */

/**
 * @file layout.css
 * 
 * See layout-uncompressed.css For the layout variants with 
 * with instructions and comments.
 * @see layout-uncompressed.css
 */
 
/**
 * #layout-1c
 * Replace with your preferred layout, remove if using LayoutSP!
 */
.two-sidebars .content-inner{margin:0 240px;}
.sidebar-left .content-inner{margin-left:240px;}
.sidebar-right .content-inner{margin-right:240px;}
#sidebar-first{width:240px;margin-left:-100%;}
#sidebar-last{width:240px;margin-left:-240px;}

/* Add padding to align elements to the grid. */
.node,
.block,
.block-at-admin,
.comment,
.profile,
.footer-message-inner,
#main-content-header,
#skip-nav,
#branding,
#search-box,
#mission,
#primary,
#secondary,
#attribution, 
#first-time, 
#forum,
#aggregator,
#tracker,
#user-login,
#user-register,
#user-pass,
.section-admin #content .region-inner,
.breadcrumb-inner,
.in-maintenance #content,
.in-maintenance #page-title {padding:0 10px;}

/* Skinr grid classes. */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {float:left;clear:none!important;display:inline;}

.grid_1 {width: 40px;}
.grid_2 {width: 100px;}
.grid_3 {width: 160px;}
.grid_4 {width: 220px;}
.grid_5 {width: 280px;}
.grid_6 {width: 340px;}
.grid_7 {width: 400px;}
.grid_8 {width: 460px;}
.grid_9 {width: 520px;}
.grid_10 {width: 580px;}
.grid_11 {width: 640px;}
.grid_12 {width: 700px;}
.grid_13 {width: 760px;}
.grid_14 {width: 820px;}
.grid_15 {width: 880px;}
.grid_16 {width: 940px;}

/* Containers and helpers. */
#container{position:relative;margin:0 auto;width:960px;}
#columns{display:inline-block;}
#container > #columns{display:block;}
#content-column,#sidebar-first,#sidebar-last{float:left;}
#content-column{width:100%;}
div.block{position:relative;}
.clear,#nav,#columns,#breadcrumb,#content-bottom,#secondary-content,#tertiary-content,#footer-wrapper,#footer,#footer-message{clear:both;}
