@charset "utf-8";
/* $Id$ */
/* adaptivethemes.com */

/**
 * AdaptiveTheme layout methods
 * 
 * @file      layout-rtl.css
 * @author    Jeff Burnz
 */

/*********************************************************

  Layout 1
   
  The layout-1 layout is a standard 3 column layout, i.e.
			
  Last | Content | First
			
  There are 3 variants that use one of Ems, Percentages or 
  Pixels to set the widths and margins:
			
  #layout-1a - Ems (elastic sidebars)
  #layout-1b - Percentages (fluid sidebars)
  #layout-1c - Pixels (fixed sidebars)
 
*********************************************************/
/**
 * #layout-1a
 */
#layout-1a .two-sidebars .content-inner{margin:0 20em;}
#layout-1a .sidebar-left .content-inner{margin-right:20em;margin-left:0;}
#layout-1a .sidebar-right .content-inner{margin-left:20em;margin-left:0;}
#layout-1a #sidebar-first{width:20em;margin-right:-100%;margin-left:0;}
#layout-1a #sidebar-last{width:20em;margin-right:-20em;margin-left:0;}

/**
 * #layout-1b
 */
#layout-1b .two-sidebars .content-inner{margin:0 25%;}
#layout-1b .sidebar-left .content-inner{margin-right:25%;}
#layout-1b .sidebar-right .content-inner{margin-left:25%;}
#layout-1b #sidebar-first{width:25%;margin-left:-100%;}
#layout-1b #sidebar-last{width:25%;margin-left:-25%;}

/**
 * #layout-1c
 */
#layout-1c .two-sidebars .content-inner{margin:0 240px;}
#layout-1c .sidebar-left .content-inner{margin-right:240px;margin-left:0;}
#layout-1c .sidebar-right .content-inner{margin-left:240px;margin-right:0;}
#layout-1c #sidebar-first{width:240px;margin-right:-100%;margin-left:0;}
#layout-1c #sidebar-last{width:240px;margin-right:-240px;margin-left:0;}


/*********************************************************
   
  Layout 2
   
  The layout-2 layouts postion both sidebars to the right
  of the main content column, i.e.
			
  Last | First | Content
			
  There are 3 variants that use one of Ems, Percentages or 
  Pixels to set the widths and margins:
			
  #layout-2a - Ems (elastic sidebars)
  #layout-2b - Percentages (fluid sidebars)
  #layout-2c - Pixels (fixed sidebars)
 
**********************************************************/
/**
 * #layout-2a
 */
#layout-2a .two-sidebars .content-inner{margin-left:40em;}
#layout-2a .sidebar-left .content-inner{margin-left:20em;}
#layout-2a .sidebar-right .content-inner{margin-left:20em;}
#layout-2a #sidebar-first{width:20em;margin-right:-40em;}
#layout-2a #sidebar-last{width:20em;margin-right:-20em;}
#layout-2a .sidebar-left #sidebar-first{width:20em;margin-right:-20em;}

/**
 * #layout-2b
 */
#layout-2b .two-sidebars .content-inner{margin-left:50%;}
#layout-2b .sidebar-left .content-inner{margin-left:25%;}
#layout-2b .sidebar-right .content-inner{margin-left:25%;}
#layout-2b #sidebar-first{width:25%;margin-right:-50%;}
#layout-2b #sidebar-last{width:25%;margin-right:-25%;}
#layout-2b .sidebar-left #sidebar-first{width:25%;margin-right:-25%;}

/**
 * #layout-2c
 */
#layout-2c .two-sidebars .content-inner{margin-left:480px;}
#layout-2c .sidebar-left .content-inner{margin-left:240px;}
#layout-2c .sidebar-right .content-inner{margin-left:240px;}
#layout-2c #sidebar-first{width:240px;margin-right:-480px;}
#layout-2c #sidebar-last{width:240px;margin-right:-240px;}
#layout-2c .sidebar-left #sidebar-first{width:240px;margin-right:-240px;}


/*********************************************************
   
  Layout 3
   
  The layout-3 layouts postion both sidebars to the left
  of the main content column, i.e.
			
  Content  | Last | First 
			
  There are 3 variants that use one of Ems, Percentages or 
  Pixels to set the widths and margins:
			
  #layout-3a - Ems (elastic sidebars)
  #layout-3b - Percentages (fluid sidebars)
  #layout-3c - Pixels (fixed sidebars)
 
**********************************************************/
/**
 * #layout-3a
 */
#layout-3a .two-sidebars .content-inner{margin-right:40em;}
#layout-3a .sidebar-left .content-inner{margin-right:20em;}
#layout-3a .sidebar-right .content-inner{margin-right:20em;}
#layout-3a #sidebar-first{width:20em;margin-right:-100%;}
#layout-3a #sidebar-last{width:20em;margin-right:-100%;}
#layout-3a .two-sidebars #sidebar-last{width:20em;position:relative;right:20em;}

/**
 * #layout-3b
 */
#layout-3b .two-sidebars .content-inner{margin-right:50%;}
#layout-3b .sidebar-left .content-inner{margin-right:25%;}
#layout-3b .sidebar-right .content-inner{margin-right:25%;}
#layout-3b #sidebar-first{width:25%;margin-right:-100%;}
#layout-3b #sidebar-last{width:25%;margin-right:-100%;}
#layout-3b .two-sidebars #sidebar-last{width:25%;position:relative;right:25%;}

/**
 * #layout-3c
 */
#layout-3c .two-sidebars .content-inner{margin-right:480px;}
#layout-3c .sidebar-left .content-inner{margin-right:240px;}
#layout-3c .sidebar-right .content-inner{margin-right:240px;}
#layout-3c #sidebar-first{width:240px;margin-right:-100%;}
#layout-3c #sidebar-last{width:240px;margin-right:-100%;}
#layout-3c .two-sidebars #sidebar-last{width:240px;position:relative;right:240px;}


/*********************************************************
   
  Layout 4 - The Golden Rule
   
  The layout-4 layout is two column only. This layout is 
  commonly known as the Golden Rule Layout (1:1.618).
			
  First or Last (one only) | Content
			
  There is only one variant:
			
  #layout-4 - Percentages (fluid)
 
**********************************************************/
/**
 * #layout-4
 */
#layout-4 .two-sidebars .content-inner{margin-right:37%;}
#layout-4 .sidebar-left .content-inner{margin-right:37%;}
#layout-4 .sidebar-right .content-inner{margin-right:37%;}
#layout-4 #sidebar-first{width:37%;margin-left:-37%;}
#layout-4 #sidebar-last{width:37%;margin-left:-37%;}
#layout-4 .sidebar-left #sidebar-first{width:37%;margin-left:-37%;}

/*********************************************************
*                 Skinr grid classes
**********************************************************/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {float:right;}

/*********************************************************
*            Helper classes for all layouts
**********************************************************/
/* Automatic centering for widths less than 100%. */
#container,
.block {zoom:1;}

/* Float the columns. */
#content-column,
#sidebar-first,
#sidebar-last {
  float: right;
}

#content-column {position: relative;}
#sidebar-first,
#sidebar-last {position: relative; z-index: 1000;}

