@charset "utf-8";
/* $Id$ */
/* adaptivethemes.com */

/**
 * AdaptiveTheme layout rtl
 * 
 * @file      layout-rtl.css
 * @author    Jeff Burnz
 */
/**
 * #layout-1c rtl
 * Replace with your preferred layout, remove if using LayoutSP!
 */
.two-sidebars .content-inner{margin:0 240px;}
.sidebar-left .content-inner{margin-right:240px;margin-left:0;}
.sidebar-right .content-inner{margin-left:240px;margin-right:0;}
#sidebar-first{width:240px;margin-right:-100%;margin-left:0;}
#sidebar-last{width:240px;margin-right:-240px;margin-left:0;}

/* Skinr grid classes. */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {float:right;}

/* Containers and helpers. */
#container,.block{zoom:1;}
/* Float the columns right. */
#content-column,#sidebar-first,#sidebar-last{float:right;}
#content-column{position:relative;}
#sidebar-first,#sidebar-last{position:relative;z-index: 1000;}
