.threecol-4-4-4 .arc--2 .region { width: 49.15254%; float: left; margin-right: 1.69492%; }
.threecol-4-4-4 .arc--2 .region:last-child { float: right; margin-right: 0; }
.threecol-4-4-4 .arc--3 .region { width: 32.20339%; float: left; margin-right: 1.69492%; }
.threecol-4-4-4 .arc--3 .region:last-child { float: right; margin-right: 0; }
