.threecol-split-row-2-10--12 .hr--1-2 .region { width: 15.25424%; float: left; margin-right: 1.69492%; }
.threecol-split-row-2-10--12 .hr--1-2 .region:last-child { width: 83.05085%; float: right; margin-right: 0; }
.threecol-split-row-2-10--12 .arc--3 .region:first-child { width: 15.25424%; float: left; margin-right: 1.69492%; }
.threecol-split-row-2-10--12 .arc--3 .region:nth-child(2) { width: 83.05085%; float: right; margin-right: 0; }
.threecol-split-row-2-10--12 .arc--3 .region:last-child { clear: both; }
