.threecol-split-row-6-6--12 .hr--1-2 .region { width: 49.15254%; float: left; margin-right: 1.69492%; }
.threecol-split-row-6-6--12 .hr--1-2 .region:last-child { float: right; margin-right: 0; }
.threecol-split-row-6-6--12 .arc--3 .region:first-child { width: 49.15254%; float: left; margin-right: 1.69492%; }
.threecol-split-row-6-6--12 .arc--3 .region:nth-child(2) { width: 49.15254%; float: right; margin-right: 0; }
.threecol-split-row-6-6--12 .arc--3 .region:last-child { clear: both; }
