.threecol-source-ordered-4-8--12 .hr--1-2 .region:first-child { margin-left: 33.89831%; width: 66.10169%; float: left; margin-right: 1.69492%; }
.threecol-source-ordered-4-8--12 .hr--1-2 .region:last-child { margin-left: -101.69492%; width: 32.20339%; float: left; margin-right: 1.69492%; }
.threecol-source-ordered-4-8--12 .arc--3 .region:first-child { width: 66.10169%; float: left; margin-right: 1.69492%; margin-left: 33.89831%; }
.threecol-source-ordered-4-8--12 .arc--3 .region:nth-child(2) { width: 32.20339%; float: left; margin-right: 1.69492%; margin-left: -101.69492%; }
.threecol-source-ordered-4-8--12 .arc--3 .region:last-child { clear: both; }
