.threecol-split-row-3-9--12 .hr--1-2 .region { width: 23.72881%; float: left; margin-right: 1.69492%; }
.threecol-split-row-3-9--12 .hr--1-2 .region:last-child { width: 74.57627%; float: right; margin-right: 0; }
.threecol-split-row-3-9--12 .arc--3 .region:first-child { width: 23.72881%; float: left; margin-right: 1.69492%; }
.threecol-split-row-3-9--12 .arc--3 .region:nth-child(2) { width: 74.57627%; float: right; margin-right: 0; }
.threecol-split-row-3-9--12 .arc--3 .region:last-child { clear: both; }
