.threecol-8-2-2 .arc--2 .region { width: 66.10169%; float: left; margin-right: 1.69492%; }
.threecol-8-2-2 .arc--2 .region:last-child { width: 32.20339%; float: right; margin-right: 0; }
.threecol-8-2-2 .arc--3 .region { width: 15.25424%; float: left; margin-right: 1.69492%; }
.threecol-8-2-2 .arc--3 .region:first-child { width: 66.10169%; float: left; margin-right: 1.69492%; }
.threecol-8-2-2 .arc--3 .region:last-child { float: right; margin-right: 0; }
