.threecol-2-2-8 .arc--2 .region {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
.threecol-2-2-8 .arc--2 .region:last-child {
  width: 66.10169%;
  float: right;
  margin-right: 0;
}
.threecol-2-2-8 .arc--3 .region {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
}
.threecol-2-2-8 .arc--3 .region:last-child {
  width: 66.10169%;
  float: right;
  margin-right: 0;
}
