
// Advanced settings (Extensions)

#edit-advanced-settings {

  &> .details-wrapper {
    padding: 0;
  }

  .vertical-tabs {
    border-radius: 0;
    border-left: 0 none;
    border-right: 0 none;
  }

  .vertical-tabs-list {
    width: 25%;
  }
  .vertical-tabs-panes {
    margin: 0 0 0 25%;
  }

  .submit--advanced-settings {
    padding: 0 0.5em;
  }
}


// Fonts
#edit-font-settings {

  fieldset {
    border-bottom: 1px solid #BFBFBA;
    padding-bottom: 1em;

    .fieldset-description h3 {
      font-size: 1em;
      text-transform: uppercase;
    }

    fieldset {
      border: 0;
      padding: 0;
    }
  }

}



/* Image alignment options */
#edit-image-settings {

  .description,
  .form-type-radios {
    clear: both;
  }

  details {
    details {
      border: 0;
      padding: 0;
      margin: 0;
    }

    fieldset legend {
      @include visually-hidden-off;
      font-family: inherit;
      padding: 0 0 15px;
    }
  }

  .form-type-radios {
    label {
      margin-bottom: 5px;
    }
  }


  .form-type-radio {
    clear: none;
    float: left;
    margin: 0 30px 10px 0;
    text-align: center;
    width: 50px;

    input.form-radio {
      margin-bottom: 4px;
    }

    label {
      background-image: url(image-alignment-sprite.png);
      background-repeat: no-repeat;
      display: table-cell;
      font-size: 0.8em;
      height: 80px;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
      vertical-align: bottom;
      width: 50px;

      &[for$=-none]   {background-position: 0 0;}
      &[for$=-left]   {background-position: -50px 0;}
      &[for$=-center] {background-position: -100px 0;}
      &[for$=-right]  {background-position: -150px 0;}
    }
  }
}



// Titles
#edit-titles {
  details {
    label {
      display: inline-block;
      width: 8em;
    }
  }
}



// Touch icons
#edit-touch-icons-settings {

  .form-type-textfield {
    margin-bottom: 20px;
  }

  label {
    margin-bottom: 5px;
  }

  .field-prefix {
    color: #666;
  }
}













