 // Style the theme settings page.
@import "compass/css3";


#block-help {
  display: none;
}


/* Layout */
#edit-layouts {

  .table-layouts {

    img {
      display: block;
      max-width: 200px;
      max-height: 240px;
      height: auto;
    }

    .field-series,
    .field-name {
      font-weight: 700;
    }

    .field-name {
      font-size: 1.154em;
    }
  }
}


#edit-select {
  border-top: 1px solid #BFBFBA;
}


#edit-select-type {
  //float: left;
  //width: 100%;
  //margin-bottom: 3em;
  padding-top: 1em;
}


.form-item-layout-type-select {
  display: inline;
}


#edit-default-layout {
  color: #666666;
  float: right;
  font-size: 0.923em;
  line-height: 1.231em;
  padding: 10px 0;
  min-width: 211px; // needs media query

  label {
   // display: inline;
  }
}


#edit-default-not-set,
#edit-default-set,
#edit-none-set {
  border-top: 1px solid #BFBFBA;
  border-bottom: 1px solid #BFBFBA;
  //clear: both;
  margin: 10px 0 20px;
  padding: 10px;
}


// error
#edit-default-not-set {
  background-color: #fcf4f2;
  color: #a51b00;
}

// status
#edit-none-set {
  background-color: #f3faef;
  color: #325e1c;
}

// warning
#edit-default-set {
  //background-color: #fdf8ed;
  //color: #734c00;
  background: #F7FCFF;

  ol {
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
  }

  ol, p {
    font-size: 0.923em;
    line-height: 1.231em;
  }
}



#edit-layout {
  padding-top: 1em;
}


#edit-suggestions {
  padding-top: 0;
  padding: 10px;
  //clear: both;
  background: #F7FCFF;
  border-top: 1px solid #BFBFBA;
  border-bottom: 1px solid #BFBFBA;
  margin: 10px 0 20px;

  label {
    padding-bottom: 10px
  }

  .description {
    margin-top: 20px;
  }

  ol {
    margin: 0;
    padding: 0 0 0 20px;
  }
}


#edit-options,
.form-item-layout-suggestion,
#edit-no-mq-css {
  clear: both;
}


#edit-no-base-layout {
  border: 1px solid #B3B2AD;
  border-color: #f4daa6;
  color: #734c00;
  background-color: #fdf8ed;
  padding: 10px;
}


#edit-options {
  .form-disabled {
    background: #f7f7f7;
    margin: 0;
    padding: 1em 0;
  }
}


#edit-jquery {
  .form-type-checkbox {
    .description {
      font-size: 0.8em;
    }
  }
}


#edit-drupal-core {

  .form-type-checkbox {
    margin-bottom: 0;
  }

  small {
    display: block;
    margin-left: 2em;

    &:before {
      content: "- ";
    }
  }
}



@media (max-width: 48em) {
  #edit-layouts {
    .form-radios label {
      max-width: 120px;
    }
  }
}

@media (max-width: 56em) {
  #edit-default-layout {
    float: none;
    clear: both;
    margin: 0;
    padding: 0 0 10px;
  }
}



// Help Sections
#edit-help,
#edit-subtheming-help {

  h2, h3, h4  {
    margin: 2em 0 0;
    padding-bottom: 0;
  }

  ol, ul {
    margin-bottom: 1em;
    padding: 0;
  }
}


#edit-help-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

code, pre, kbd {
  font-size: 1em !important;
}


code {
  font-weight: 700;
}

pre code {
  font-weight: 400;
  padding: 0;
  margin: 0;
}

pre {
  background: #F7F7F7;
  border: 1px solid #ccc;
  font-weight: 400;
  margin: 0 0 1em;
  padding: 20px;
  @include border-radius(4px);
}

pre.code-block {
  background: #F7F7F7;
  border: 1px solid #ccc;
  font-weight: 400;
  margin: 0;
  padding: 20px;
  @include border-radius(4px);
}

.status-block {
  float: right;
  width: 200px;
  padding: 10px;
  margin: 0 0 10px 20px;

  &.warning {
    //border: 1px solid #F4DAA6;
    background: #FDF8ED;
    //box-shadow: -8px 0 0 #E09600;
    color: #734C00;
  }

  &.status {
    //border: 1px solid #325e1c;
    background: #f3faef;
    //box-shadow: -8px 0 0 #325e1c;
    color: #325e1c;
  }


  h2 {
    font-size: 1em !important;
  }

  p, h2 {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.layout-structure-screenshot {
  background-image: url('../../docs/help_subtheme/layout-structure.png');
  max-width: 308px;
  min-height: 163px;
}

blockquote {
  border-left: 10px solid #A6A5A1;
  padding-left: 10px;
}













