/* $Id$ */
/* adaptivethemes.com 62 */

/**
 * @file starter.css
 * Default styles for getting started. Unset this in the info file 
 * if you want a style-free starter theme.
 */
body{font-family:Verdana, Geneva, "DejaVu Sans", sans-serif;margin:0;padding:0;}

/* Global focus style for links. */
a:active,a:focus{border:0;color:#C00000;}

/* Common page elements */
#skip-nav{text-align:right;float:right;width:160px;}
#user-menu ul {margin:0;}
#user-menu ul li {display:inline;float:left;margin:0 1em 0 0;padding:0;}
#header{clear:both;}
#branding{float:left;width:300px;}
#search-box{float:right;width:300px;}
#header-region{float:left;width:320px;}
#branding h1{font-size:1em;}
.logo-site-name span{display:block;}
#site-name{font-size:2em;font-weight:bold;line-height:1.5;}
#search-theme-form{margin:1.5em 0;}
#breadcrumb{padding:0 0 .75em;}
#mission{font-weight:bold;margin:.3em 0 1.5em;}
.block{margin:0 0 20px;}
.feed-icon img{padding:0 10px;}
#content-aside{background:#FFF;float:right;padding-left:10px;width:240px;}

/* Primary and Secondary links basic styles - comment this out or remove if you dont want it. */
.primary-links,
.secondary-links{margin:0;padding:0;}
.primary-links li,
.secondary-links li{display:inline;float:left;list-style:none;margin:0;padding:0;}
.primary-links li a,
.secondary-links li a{display:block;padding:0 0.5em;white-space:nowrap;}

/* Lists. */
ul.menu,
ul.menu ul,
ul.menu ul ul,
ul.menu ul ul ul{margin:0 0 0 1em;padding:0;}
ul.menu li{padding:.35em 0 0;}
.item-list ul li{padding:.35em 0 0;}
.block .item-list ul{margin:0;}
#block-user-3 .item-list h3{font-size:1em;}
#block-locale-0 ul{margin:0 0 0 1.5em;padding:0;}
#block-locale-0 ul li{padding:.35em 0 0;}

/* Comments. */
.indented {margin-left:60px;}
.comment{margin:0 0 1.5em;}
.comment-title .new{color:#FF8000;}
.comment-title a:link,
.comment-title a:visited,
.comment-title a:active{text-decoration:none;}
.comment-title a:hover,
.comment-title a:focus{text-decoration:underline;}
.comment-links ul.links{display:block;padding:0 1em 0 0;text-align:right;}

/* Aricles (nodes). */
.article{margin:0 0 1.5em;}
.article-title a:link,
.article-title a:visited,
.article-title a:active{text-decoration:none;}
.article-title a:hover,
.article-title a:focus{text-decoration:underline;}
.article ul.links li{padding:0 1em 0 0;}
.article-links{margin:0;}
.article-links ul.links li{margin:0;padding:0;}
.article-terms .vocab-name{font-size:1em;}
.article-terms li.vocab{list-style:none;}
.article-terms li span.vocab-name{font-weight:bold;}
.article-terms ul.taxonomy{margin:0;}
.article-terms ul.taxonomy li.vocab-term{display:inline;list-style:none;}
.item-list ul.pager li{margin:0;}

/* Misc. */
#block-node-0 .feed-icon img{padding:10px 0;}
#menu-region .superfish-menu-hide-title{height:0;overflow:hidden;position:absolute;}

/* Collapsed block config block styles. */
.block-at-admin .block-title{color:#555;font-size:1.333em;}
.block-at-admin .block-at-admin-inner{-moz-border-radius:4px;-webkit-border-radius:4px;-border-radius:4px;background:#FFF;border:1px solid #A4D5E5;padding:0 4px;color:#444;}
.block-at-admin fieldset{-moz-border-radius:4px;-webkit-border-radius:4px;-border-radius:4px;border:1px solid #E0EBEF;margin:1em 0;padding:0.5em;}
.block-at-admin a{color:#2C788F;text-decoration:none;}
.block-at-admin a:hover,.block-at-admin a:focus{color:#660000;text-decoration:underline;}
