/**
 * $Id$ 
 * adaptivethemes.com 
 *
 * @file starter.css
 * Default styles for getting started. Unset this in the info file 
 * if you want a style-free starter theme.
 */
body {
font-family:Verdana, Geneva, "DejaVu Sans", sans-serif;
margin:0;
padding:0;
}

a:active,a:focus {
border:0;
color:#C00000;
}

#skip-nav {
text-align:left;
float:left;
}

#leaderboard,
#secondary-content,
#content-top,
#content-aside,
#content-bottom
#tertiary-content,
#footer,
#footer-region {
overflow:hidden;
zoom:1;
}

#header {
clear:both;
}

#branding {
float:left;
width:300px;
}

#header-region {
float:left;
width:320px;
}

.logo-site-name span {
display:block;
}

#site-name {
font-size:2em;
font-weight:700;
line-height:1.5;
}

#search-theme-form {
float:right;
margin:1.5em 0;
}

/* Breadcrumb, Mission */
#breadcrumb {
padding-bottom:1em;
}

#menu-bar,
#main-menu,
#secondary-menu {
clear:both;
}

#main-menu .links,
#secondary-menu .links {
margin:0;
padding:0;
}

#main-menu .links li,
#secondary-menu .links li {
display:inline;
float:left;
list-style:none;
margin:0;
padding:0;
}

#main-menu .links li a,
#secondary-menu .links li a {
display:block;
white-space:nowrap;
padding:0 0.5em;
}

.article,
.comment {
margin:0 0 1.5em;
}

.article ul.links,
.item-list ul.pager li {
margin:0;
}

.article ul.links li {
padding:0 1em 0 0;
}

.field-type-taxonomy-term-reference {
margin:0 0 1em;
}

.field-type-taxonomy-term-reference.field-label-inline ul {
padding:0;
margin:0;
}

.field-type-taxonomy-term-reference.field-label-inline ul li {
display:inline;
list-style:none;
}

.field-type-taxonomy-term-reference h2 {
font-size:1em;
font-weight:700;
}

.indented {
margin-left:60px;
}

.comment-title .new {
color:#FF8000;
}

.comment ul.links {
display:block;
text-align:right;
padding:0 1em 0 0;
}

.submitted {
margin:.375em 0 0.75em;
}

.submitted em {
font-style:normal;
}

.block {
margin:0 0 20px;
}

.block-inner {
padding:0 0 10px;
}

.block ul li {
margin:0 0 0 0.5em;
}

.block .item-list ul  {
margin-left:1em;
}

#search-block-form {
margin:0;
}

#content-aside {
background:#FFF;
float:right;
padding-left:10px;
width:240px;
}

h1.logo-site-name,
#block-user-3 .item-list h3 {
font-size:1em;
}
