
<!-- // All panel layouts for debug and review, nothing executed here, just hard coded HTML -->

<div id="page" class="all-panel-layouts">

    <!-- ONE -->
    <div class="at-panel panel-panel one-column clearfix"><div class="container clearfix">
      <div class="region region-one-main"></div>
    </div></div>

    <!-- TWO -->
    <div class="at-panel panel-panel two-50 clearfix"><div class="container clearfix">
      <div class="region region-two-50-top region-conditional-stack"></div>
      <div class="region region-two-50-first"></div>
      <div class="region region-two-50-second"></div>
      <div class="region region-two-50-bottom region-conditional-stack"></div>
    </div></div>

    <div class="at-panel panel-panel two-33-66 clearfix"><div class="container clearfix">
      <div class="region region-two-33-66-top region-conditional-stack"></div>
      <div class="region region-two-33-66-first"></div>
      <div class="region region-two-33-66-second"></div>
      <div class="region region-two-33-66-bottom region-conditional-stack"></div>
    </div></div>

    <div class="at-panel panel-panel two-66-33 clearfix"><div class="container clearfix">
      <div class="region region-two-66-33-top region-conditional-stack"></div>
      <div class="region region-two-66-33-first"></div>
      <div class="region region-two-66-33-second"></div>
      <div class="region region-two-66-33-bottom region-conditional-stack"></div>
    </div></div>

    <div class="at-panel panel-panel two-brick clearfix"><div class="container clearfix">
      <div class="region region-two-brick-top region-conditional-stack"></div>
      <div class="panel-row row-1 clearfix">
        <div class="region region-two-brick-left-above"></div>
        <div class="region region-two-brick-right-above"></div>
      </div>
      <div class="region region-two-brick-middle region-conditional-stack"></div>
      <div class="panel-row row-2 clearfix">
        <div class="region region-two-brick-left-below"></div>
        <div class="region region-two-brick-right-below"></div>
      </div>
      <div class="region region-two-brick-bottom region-conditional-stack"></div>
    </div></div>

    <!-- THREE -->
    <div class="at-panel panel-panel three-3x33 clearfix"><div class="container clearfix">
      <div class="region region-three-33-top region-conditional-stack"></div>
      <div class="region region-three-33-first"></div>
      <div class="region region-three-33-second"></div>
      <div class="region region-three-33-third"></div>
      <div class="region region-three-33-bottom region-conditional-stack"></div>
    </div></div>

    <div class="at-panel panel-panel three-25-50-25 clearfix"><div class="container clearfix">
      <div class="region region-three-25-50-25-top region-conditional-stack"></div>
      <div class="region region-three-25-50-25-first"></div>
      <div class="region region-three-25-50-25-second"></div>
      <div class="region region-three-25-50-25-third"></div>
      <div class="region region-three-25-50-25-bottom region-conditional-stack"></div>
    </div></div>

    <div class="at-panel panel-panel three-25-25-50 clearfix"><div class="container clearfix">
      <div class="region region-three-25-25-50-top region-conditional-stack"></div>
      <div class="region region-three-25-25-50-first"></div>
      <div class="region region-three-25-25-50-second"></div>
      <div class="region region-three-25-25-50-third"></div>
      <div class="region region-three-25-25-50-bottom region-conditional-stack"></div>
    </div></div>

    <div class="at-panel panel-panel three-50-25-25 clearfix"><div class="container clearfix">
      <div class="region region-three-50-25-25-top region-conditional-stack"></div>
      <div class="region region-three-50-25-25-first"></div>
      <div class="region region-three-50-25-25-second"></div>
      <div class="region region-three-50-25-25-third"></div>
      <div class="region region-three-50-25-25-bottom region-conditional-stack"></div>
    </div></div>

    <!-- FOUR -->
    <div class="at-panel panel-panel four-4x25 clearfix"><div class="container clearfix">
      <div class="panel-row row-1 clearfix">
        <div class="region region-four-first"></div>
        <div class="region region-four-second"></div>
      </div>
      <div class="panel-row row-2 clearfix">
        <div class="region region-four-third"></div>
        <div class="region region-four-fourth"></div>
      </div>
    </div></div>

    <!-- FIVE -->
    <div class="at-panel panel-panel five-5x20 clearfix"><div class="container clearfix">
      <div class="panel-row row-1 clearfix">
        <div class="region region-five-first"></div>
        <div class="region region-five-second"></div>
      </div>
      <div class="panel-row row-2 clearfix">
        <div class="region region-five-third"></div>
        <div class="region region-five-fourth"></div>
        <div class="region region-five-fifth"></div>
      </div>
    </div></div>

    <!-- SIX -->
    <div class="at-panel panel-panel six-6x16 clearfix"><div class="container clearfix">
      <div class="panel-row row-1 clearfix">
        <div class="region region-six-first"></div>
        <div class="region region-six-second"></div>
      </div>
      <div class="panel-row row-2 clearfix"> 
        <div class="region region-six-third"></div>
        <div class="region region-six-fourth"></div>
      </div>
      <div class="panel-row row-3 clearfix">
        <div class="region region-six-fifth"></div>
        <div class="region region-six-sixth"></div>
      </div>
    </div></div>

    <!-- INSET -->
    <div class="at-panel panel-panel three-inset-left clearfix"><div class="container clearfix">
      <div class="region region-three-inset-left-sidebar"></div>
      <div class="inset-wrapper clearfix">
        <div class="region region-three-inset-left-top region-conditional-stack"></div>
        <div class="region region-three-inset-left-middle"></div>
        <div class="region region-three-inset-left-inset"></div>
        <div class="region region-three-inset-left-bottom region-conditional-stack"></div>
      </div>
    </div></div>

    <div class="at-panel panel-panel three-inset-right clearfix"><div class="container clearfix">
      <div class="region region-three-inset-right-sidebar"></div>
      <div class="inset-wrapper clearfix">
        <div class="region region-three-inset-right-top region-conditional-stack"></div>
        <div class="region region-three-inset-right-middle"></div>
        <div class="region region-three-inset-right-inset"></div>
        <div class="region region-three-inset-right-bottom region-conditional-stack"></div>
      </div>
    </div></div>

</div>
