.regions {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}
.regions:after {
  content: " ";
  display: block;
  clear: both;
}
head {
  display: block;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}
head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}
head:hover ~ .regions, head:hover ~ body .regions {
  position: relative;
}
head:hover ~ .regions:before, head:hover ~ body .regions:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjMjYyNjI2IiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(10%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(0, 0, 0, 0.25)), color-stop(90%, rgba(38, 38, 38, 0.25)), color-stop(90%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.25) 10%, rgba(38, 38, 38, 0.25) 90%, rgba(0, 0, 0, 0) 90%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.25) 10%, rgba(38, 38, 38, 0.25) 90%, rgba(0, 0, 0, 0) 90%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.25) 10%, rgba(38, 38, 38, 0.25) 90%, rgba(0, 0, 0, 0) 90%);
  background-size: 8.3333333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}

[class*="page-row__"] {
  padding: 0 .25em;
}

.region {
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}

/* Header (3 regions) */
.page-row__header.active-region-count--2 .region:first-child {
  width: 56.6666667%;
  float: left;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__header.active-region-count--2 .region:last-child {
  width: 40%;
  float: right;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}

/* Features (3 regions) */
.page-row__features.active-region-count--2 .region {
  width: 56.6666667%;
  float: left;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__features.active-region-count--2 .region:last-child {
  width: 40%;
  float: right;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__features.active-region-count--3 .region {
  width: 23.3333333%;
  float: left;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__features.active-region-count--3 .region:first-child {
  width: 56.6666667%;
  float: left;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__features.active-region-count--3 .region:last-child {
  width: 15%;
  float: right;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}

/* Main (4 regions). The first region is the "Highlighed" region, which is always full width. */
.page-row__main.has-regions--2-3 .region, .page-row__main.has-regions--2-4 .region, .page-row__main.has-regions--3-4 .region {
  width: 56.6666667%;
  float: left;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__main.has-regions--2-3 .region:last-child, .page-row__main.has-regions--2-4 .region:last-child, .page-row__main.has-regions--3-4 .region:last-child {
  width: 40%;
  float: right;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__main.has-regions--1-2-3 .region:nth-child(2), .page-row__main.has-regions--1-2-4 .region:nth-child(2) {
  width: 56.6666667%;
  float: left;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__main.has-regions--1-2-3 .region:last-child, .page-row__main.has-regions--1-2-4 .region:last-child {
  width: 40%;
  float: right;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__main.has-regions--2-3-4 .region:first-child {
  width: 56.6666667%;
  float: left;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__main.has-regions--2-3-4 .region:nth-child(2) {
  width: 23.3333333%;
  float: left;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__main.has-regions--2-3-4 .region:last-child {
  width: 15%;
  float: right;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__main.active-region-count--4 .region:nth-child(2) {
  width: 56.6666667%;
  float: left;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__main.active-region-count--4 .region:nth-child(3) {
  width: 23.3333333%;
  float: left;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__main.active-region-count--4 .region:last-child {
  width: 15%;
  float: right;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}

/* Tertiary (3 regions) */
.page-row__tertiary.active-region-count--2 .region {
  width: 40%;
  float: left;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__tertiary.active-region-count--2 .region:last-child {
  width: 56.6666667%;
  float: right;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__tertiary.active-region-count--3 .region {
  width: 23.3333333%;
  float: left;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__tertiary.active-region-count--3 .region:first-child {
  width: 15%;
  float: left;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
.page-row__tertiary.active-region-count--3 .region:last-child {
  width: 56.6666667%;
  float: right;
  margin-left: 0.8333333%;
  margin-right: 0.8333333%;
}
