.regions {
  max-width: 73.75em;
  margin-left: auto;
  margin-right: auto;
}
.regions:after {
  content: " ";
  display: block;
  clear: both;
}
head {
  display: block;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}
head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}
head:hover ~ .regions, head:hover ~ body .regions {
  position: relative;
}
head:hover ~ .regions:before, head:hover ~ body .regions:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiMyNjI2MjYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.25)), color-stop(80%, rgba(38, 38, 38, 0.25)), color-stop(80%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(38, 38, 38, 0.25) 80%, rgba(0, 0, 0, 0) 80%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(38, 38, 38, 0.25) 80%, rgba(0, 0, 0, 0) 80%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(38, 38, 38, 0.25) 80%, rgba(0, 0, 0, 0) 80%);
  background-size: 8.4745763%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}

[class*="page-row__"] {
  padding: 0 1.25em;
}

/* Header (3 regions) */
.page-row__header.active-region-count--2 .region:first-child {
  width: 57.6271186%;
  float: left;
  margin-right: 1.6949153%;
}
.page-row__header.active-region-count--2 .region:last-child {
  width: 40.6779661%;
  float: right;
  margin-right: 0;
}

/* Features (3 regions) */
.page-row__features.active-region-count--2 .region {
  width: 57.6271186%;
  float: left;
  margin-right: 1.6949153%;
}
.page-row__features.active-region-count--2 .region:last-child {
  width: 40.6779661%;
  float: right;
  margin-right: 0;
}
.page-row__features.active-region-count--3 .region:first-child {
  width: 57.6271186%;
  float: left;
  margin-right: 1.6949153%;
}
.page-row__features.active-region-count--3 .region:nth-child(2) {
  width: 23.7288136%;
  float: left;
  margin-right: 1.6949153%;
}
.page-row__features.active-region-count--3 .region:last-child {
  width: 15.2542373%;
  float: right;
  margin-right: 0;
}

/* Main (4 regions). The first region is the "Highlighed" region, which is always full width. */
.page-row__main.has-regions--2-3 .region, .page-row__main.has-regions--2-4 .region, .page-row__main.has-regions--3-4 .region {
  width: 57.6271186%;
  float: left;
  margin-right: 1.6949153%;
}
.page-row__main.has-regions--2-3 .region:last-child, .page-row__main.has-regions--2-4 .region:last-child, .page-row__main.has-regions--3-4 .region:last-child {
  width: 40.6779661%;
  float: right;
  margin-right: 0;
}
.page-row__main.has-regions--1-2-3 .region:nth-child(2), .page-row__main.has-regions--1-2-4 .region:nth-child(2) {
  width: 57.6271186%;
  float: left;
  margin-right: 1.6949153%;
}
.page-row__main.has-regions--1-2-3 .region:last-child, .page-row__main.has-regions--1-2-4 .region:last-child {
  width: 40.6779661%;
  float: right;
  margin-right: 0;
}
.page-row__main.has-regions--2-3-4 .region:first-child {
  width: 57.6271186%;
  float: left;
  margin-right: 1.6949153%;
}
.page-row__main.has-regions--2-3-4 .region:nth-child(2) {
  width: 23.7288136%;
  float: left;
  margin-right: 1.6949153%;
}
.page-row__main.has-regions--2-3-4 .region:last-child {
  width: 15.2542373%;
  float: right;
  margin-right: 0;
}
.page-row__main.active-region-count--4 .region:nth-child(2) {
  width: 57.6271186%;
  float: left;
  margin-right: 1.6949153%;
}
.page-row__main.active-region-count--4 .region:nth-child(3) {
  width: 23.7288136%;
  float: left;
  margin-right: 1.6949153%;
}
.page-row__main.active-region-count--4 .region:last-child {
  width: 15.2542373%;
  float: right;
  margin-right: 0;
}

/* Tertiary (3 regions) */
.page-row__tertiary.active-region-count--2 .region {
  width: 40.6779661%;
  float: left;
  margin-right: 1.6949153%;
}
.page-row__tertiary.active-region-count--2 .region:last-child {
  width: 57.6271186%;
  float: right;
  margin-right: 0;
}
.page-row__tertiary.active-region-count--3 .region:first-child {
  width: 15.2542373%;
  float: left;
  margin-right: 1.6949153%;
}
.page-row__tertiary.active-region-count--3 .region:nth-child(2) {
  width: 23.7288136%;
  float: left;
  margin-right: 1.6949153%;
}
.page-row__tertiary.active-region-count--3 .region:last-child {
  width: 57.6271186%;
  float: right;
  margin-right: 0;
}
