.fourcol-split-row-12--6-6--12 .has-regions--2-3 .region:first-child {
  width: 49.1525424%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-split-row-12--6-6--12 .has-regions--2-3 .region:last-child {
  width: 49.1525424%;
  float: right;
  margin-right: 0;
}
.fourcol-split-row-12--6-6--12 .has-regions--1-2-3 .region:nth-child(2) {
  width: 49.1525424%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-split-row-12--6-6--12 .has-regions--1-2-3 .region:last-child {
  width: 49.1525424%;
  float: right;
  margin-right: 0;
}
.fourcol-split-row-12--6-6--12 .has-regions--2-3-4 .region:first-child {
  width: 49.1525424%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-split-row-12--6-6--12 .has-regions--2-3-4 .region:nth-child(2) {
  width: 49.1525424%;
  float: right;
  margin-right: 0;
}
.fourcol-split-row-12--6-6--12 .has-regions--2-3-4 .region:last-child {
  clear: both;
}
.fourcol-split-row-12--6-6--12 .active-region-count--4 .region:nth-child(2) {
  width: 49.1525424%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-split-row-12--6-6--12 .active-region-count--4 .region:nth-child(3) {
  width: 49.1525424%;
  float: right;
  margin-right: 0;
}
.fourcol-split-row-12--6-6--12 .active-region-count--4 .region:last-child {
  clear: both;
}
