.fourcol-split-row-12--7-3-2 .has-regions--2-3 .region,
.fourcol-split-row-12--7-3-2 .has-regions--2-4 .region,
.fourcol-split-row-12--7-3-2 .has-regions--3-4 .region {
  width: 57.6271186%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-split-row-12--7-3-2 .has-regions--2-3 .region:last-child,
.fourcol-split-row-12--7-3-2 .has-regions--2-4 .region:last-child,
.fourcol-split-row-12--7-3-2 .has-regions--3-4 .region:last-child {
  width: 40.6779661%;
  float: right;
  margin-right: 0;
}
.fourcol-split-row-12--7-3-2 .has-regions--1-2-3 .region:nth-child(2),
.fourcol-split-row-12--7-3-2 .has-regions--1-2-4 .region:nth-child(2) {
  width: 57.6271186%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-split-row-12--7-3-2 .has-regions--1-2-3 .region:last-child,
.fourcol-split-row-12--7-3-2 .has-regions--1-2-4 .region:last-child {
  width: 40.6779661%;
  float: right;
  margin-right: 0;
}
.fourcol-split-row-12--7-3-2 .has-regions--2-3-4 .region:first-child {
  width: 57.6271186%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-split-row-12--7-3-2 .has-regions--2-3-4 .region:nth-child(2) {
  width: 23.7288136%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-split-row-12--7-3-2 .has-regions--2-3-4 .region:last-child {
  width: 15.2542373%;
  float: right;
  margin-right: 0;
}
.fourcol-split-row-12--7-3-2 .active-region-count--4 .region:nth-child(2) {
  width: 57.6271186%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-split-row-12--7-3-2 .active-region-count--4 .region:nth-child(3) {
  width: 23.7288136%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-split-row-12--7-3-2 .active-region-count--4 .region:last-child {
  width: 15.2542373%;
  float: right;
  margin-right: 0;
}
