.fourcol-2-2-3-5 .active-region-count--2 .region {
  width: 32.2033898%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-2-2-3-5 .active-region-count--2:last-child {
  width: 66.1016949%;
  float: right;
  margin-right: 0;
}
.fourcol-2-2-3-5 .active-region-count--3 .region {
  width: 40.6779661%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-2-2-3-5 .active-region-count--3 .region:first-child {
  width: 15.2542373%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-2-2-3-5 .active-region-count--3 .region:last-child {
  float: right;
  margin-right: 0;
}
.fourcol-2-2-3-5 .active-region-count--4 .region {
  width: 15.2542373%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-2-2-3-5 .active-region-count--4 .region:nth-child(3) {
  width: 23.7288136%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-2-2-3-5 .active-region-count--4 .region:last-child {
  width: 40.6779661%;
  float: right;
  margin-right: 0;
}
