.fourcol-5-3-2-2 .active-region-count--2 .region {
  width: 40.6779661%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-5-3-2-2 .active-region-count--2 .region:last-child {
  width: 57.6271186%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-5-3-2-2 .active-region-count--3 .region {
  width: 23.7288136%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-5-3-2-2 .active-region-count--3 .region:first-child {
  width: 40.6779661%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-5-3-2-2 .active-region-count--3 .region:last-child {
  width: 32.2033898%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-5-3-2-2 .active-region-count--4 .region {
  width: 15.2542373%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-5-3-2-2 .active-region-count--4 .region:first-child {
  width: 40.6779661%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-5-3-2-2 .active-region-count--4 .region:first-child + div {
  width: 23.7288136%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-5-3-2-2 .active-region-count--4 .region:last-child {
  width: 15.2542373%;
  float: left;
  margin-right: 1.6949153%;
}
.fourcol-5-3-2-2.regions:not(active-region-count--1) .region:last-child {
  float: right;
  margin-right: 0;
}
