/* Layout */
html, body {
  margin: 0;
  padding: 0;
}

/* Provide a backup layout for browsers that do not support media queries */
.container {
  position: relative;
  margin: 0 auto;
  width: 960px;
}
.two-sidebars .content-inner {
  margin: 0 180px;
}
.sidebar-first .content-inner {
  margin-left: 180px;
}
.sidebar-second .content-inner {
  margin-right: 180px;
}
.region-sidebar-first {
  width: 180px;
  margin-left: -100%;
}
.region-sidebar-second {
  width: 180px;
  margin-left: -180px;
}

/* Prevent the layout from collapsing if there is nothing in the content column */
.content-inner {
  min-height: 1px;
}
.lt-ie7 .content-inner {
  height: 1px;
}
 
/* Add gutters */
.block-inner,
.messages,
#primary-nav,
#secondary-nav,
#breadcrumb,
#main-content > header,
#branding,
#attribution {
  margin-left: 10px;
  margin-right: 10px;
}

/* Float the columns */
#content-column,
.content-column,
.region-sidebar-first,
.region-sidebar-second {
  float: left;
}

/* Ensure the content column is always the full width of its container */
#content-column,
.content-column {
  width: 100%;
}

/* Clear floating elements :: legacy, this is really no longer required */
.clear,
#columns,
#breadcrumb,
#crumbs,
.region-secondary-content,
.region-tertiary-content,
.region-footer,
#block-admin-display-form  {
  clear: both;
}

/* Strip block margin inside content column area. */
.content-inner .block {
  margin: 0;
}

/* Compass clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clearfix {
  zoom: 1;
}

/* AT Panels */
.at-panel .region {
  display: inline;
  float: left;
}
.one-column .region,
div.at-panel .region-conditional-stack {
  float: none;
  display: block;
  clear: both;
  width: 100%;
}
.lt-ie8 .at-panel {
  overflow: hidden;
}
