/**
 */

/* Reset */
body,
h1,h2,h3,h4,h5,h6,
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img,
em,dfn,del,ins,
a,
tbody,tfoot,thead,tr,
li,
label,legend {
  margin: 0;
  padding: 0;
}

/* Helpful classes for hiding content */
.element-invisible {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

.offscreen {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

.element-hidden {
  display: none;
}
