.regions {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}
.regions:after {
  content: " ";
  display: block;
  clear: both;
}

.sixcol-6x2 {
  /* this wont work because it will match active count 1, and we don't want to float it.
  .region {
    &:last-child {
      @include last;
    }
  }
  */
}
.sixcol-6x2.active-region-count--2 .region {
  width: 49.1525424%;
  float: left;
  margin-right: 1.6949153%;
}
.sixcol-6x2.active-region-count--3 .region {
  width: 32.2033898%;
  float: left;
  margin-right: 1.6949153%;
}
.sixcol-6x2.active-region-count--4 .region {
  width: 23.7288136%;
  float: left;
  margin-right: 1.6949153%;
}
.sixcol-6x2.active-region-count--5 .region {
  width: 15.2542373%;
  float: left;
  margin-right: 1.6949153%;
}
.sixcol-6x2.active-region-count--5 .region:nth-child(3) {
  width: 23.7288136%;
  float: left;
  margin-right: 1.6949153%;
}
.sixcol-6x2.active-region-count--6 .region {
  width: 15.2542373%;
  float: left;
  margin-right: 1.6949153%;
}
.sixcol-6x2.regions:not(active-region-count--1) .region:last-child {
  float: right;
  margin-right: 0;
}
