// Extensions

#edit-extensions {

  &> .details-wrapper {
    padding: 0;
  }

  details .details-wrapper {
    padding: 0.35em 0.65em 0.75em;
  }

  .vertical-tabs {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  .vertical-tabs-list {
    width: 25%;
  }
  .vertical-tabs-panes {
    margin: 0 0 0 25%;
  }

  .submit--advanced-settings {}
}


// Fonts
#edit-fonts {
  .form-type-number {
    input {
      max-width: 6em;
    }
  }
}


/* Image alignment options */
#edit-image-settings {

  .description,
  .form-type-radios {
    clear: both;
  }

  details {
    details {
      border: 0;
      padding: 0;
      margin: 0;
    }

    fieldset legend {
      @include visually-hidden-off;
      font-family: inherit;
      padding: 0 0 15px;
    }
  }

  .form-type-radios {
    label {
      margin-bottom: 5px;
    }
  }


  .form-type-radio {
    clear: none;
    float: left;
    margin: 0 30px 10px 0;
    text-align: center;
    width: 50px;

    input.form-radio {
      margin-bottom: 4px;
    }

    label {
      background-image: url(image-alignment-sprite.png);
      background-repeat: no-repeat;
      display: table-cell;
      font-size: 0.8em;
      height: 80px;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
      vertical-align: bottom;
      width: 50px;

      &[for$=-none]   {background-position: 0 0;}
      &[for$=-left]   {background-position: -50px 0;}
      &[for$=-center] {background-position: -100px 0;}
      &[for$=-right]  {background-position: -150px 0;}
    }
  }
}



// Titles
#edit-titles {

  details {
    label {
      display: inline-block;
      width: 8em;
    }
  }
}



// Touch icons
#edit-touch-icons-settings {

  .form-type-textfield {
    margin-bottom: 20px;
  }

  label {
    margin-bottom: 5px;
  }

  .field-prefix {
    color: #666;
  }
}



// Resp menus
#edit-responsive-menus {

  .form-item-settings-responsive-menu-region,
  .form-item-settings-responsive-menu-breakpoint-group {
    float: left;
    margin-bottom: 2em;
    margin-right: 1.5em;
  }

  #edit-default,
  #edit-responsive {}

  .responsive-menu-styles,
  .responsive-menu-options {
    clear: none !important;
    width: 48%;
  }

  .clearfix {
    border-top: 1px solid #ccc;
  }

  select {
    max-width: 18em;
  }

  .responsive-menu-styles {
    float: left;

    .form-type-select {
      margin: 1em 0 2em;
    }
  }

  .responsive-menu-options {
    float: right;
    background: #F5F5F5;
    padding: 1em;

    legend {}
    fieldset legend {}

    fieldset fieldset legend {
      display: none;
      &:after {
        content: "";
      }
    }
  }
}


// Add Classes
#edit-block-classes {
  label {
    span {
      font-weight: 400;
    }
  }
}

#edit-classes {
  dt {
    font-weight: bold;
  }
  @media screen and (min-width: 75em) {
    dl.class-list {
      dt {
        float: left;
        clear: left;
        text-align: left;
        width: 30%;
      }
      dd {
        margin-left: 35%;
        overflow: hidden;
      }
    }
  }
}


// Developer settings
#edit-devel {

   label {
     font-weight: bold;
   }

  .description {
    @include visually-hidden-off; // the one place to show descriptions by default, you really need to know this shit.
    color: #777;
    font-size: 0.9em;
  }

  .details-wrapper {
    padding: 0.35em 0.65em 0.75em;
  }

}
























