/* adaptivethemes.com layout-override-examples.css */

/**
 * @file layout-override-examples.css
 * Layout Overrides 
 *
 * To override one of the core layouts copy/paste the layout override 
 * to your page.css file.
 *
 * This file includes examples of modified layouts you may find useful;
 * that can serve as examples for making your own customisations.
 *
 * There is one example override for one unit variant of each main layout.
 */
 
/**
 * #layout-1a override
 * Unit:   em
 * Layout: Standard 3 col - left/content/right
 * Modification: right sidebar is wider than the right.
 */
#layout-1a .two-sidebars  .content-inner {margin      : 0 27.8333em 0 16.1667em;}
#layout-1a .sidebar-left  .content-inner {margin-left :               16.1667em;}
#layout-1a .sidebar-right .content-inner {margin-right:   27.8333em            ;}
#layout-1a #sidebar-left  {width: 14.1667em; margin-left: -100%; }
#layout-1a #sidebar-right {width: 25.8333em; margin-left: -25.8333em;}


/**
 * #layout-2b override
 * Unit:   %
 * Layout: Both sidebars on the right; content/left/right
 * Modification: left sidebar is wider than the right.
 */
#layout-2b .two-sidebars  .content-inner {margin-right: 54%;}
#layout-2b .sidebar-left  .content-inner {margin-right: 32%;}
#layout-2b .sidebar-right .content-inner {margin-right: 22%;}
#layout-2b #sidebar-left  {width: 30%; margin-left: -52%;}
#layout-2b #sidebar-right {width: 20%; margin-left: -20%;}
#layout-2b .sidebar-left #sidebar-left {width: 30%; margin-left: -30%;}


/**
 * #layout-3c override
 * Unit:   px
 * Layout: Both sidebars on the left - left/right/content
 * Modification: both sidebars set to 165px width.
 */
#layout-3c .two-sidebars  .content-inner {margin-left: 370px;}
#layout-3c .sidebar-left  .content-inner {margin-left: 185px;}
#layout-3c .sidebar-right .content-inner {margin-left: 185px;}
#layout-3c #sidebar-left  {width: 165px; margin-left: -100%;}
#layout-3c #sidebar-right {width: 165px; margin-left: -100%;}
/* Use position: relative to push the sidebar back into position */
#layout-3c .two-sidebars #sidebar-right {width: 165px; position: relative; left: 185px;}







