.region {margin-bottom: 5px;}
.region-twocol-brick-left-above, .region-twocol-brick-left-below {float: left; width: 49.75%;}
.region-twocol-brick-right-above, .region-twocol-brick-right-below {float: right; width: 49.75%;}