/* Image Alignment */
.field-type-image img {display:block}
.ia-l .field-type-image img,.iat-l .field-type-image img {float:left;clear:left}
.ia-r .field-type-image img,.iat-r .field-type-image img {float:right;clear:right}
.ia-c .field-type-image,.iat-c .field-type-image,
.ia-c .field-type-image img,.iat-c .field-type-image img {text-align:center;margin-left:auto;margin-right:auto}
.field-type-image .field-label {margin-bottom:5px}

/* Short codes */
body .image-left img,
body .image-left .field-type-image img {float:left;text-align:left}
body .image-left img,
body .image-left .field-type-image img {text-align:left}
body .image-right img,
body .image-right .field-type-image img {float:right;text-align:right}
body .image-right img,
body .image-right .field-type-image img {text-align:right}
body .image-center,
body .image-center img,
body .image-center .field-type-image,
body .image-center .field-type-image img {text-align:center;margin-left:auto;margin-right:auto}
