.fourcol-source-ordered-inset-left .has-regions--1-2 .region:first-child,
.fourcol-source-ordered-inset-left .has-regions--1-3 .region:first-child {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}
.fourcol-source-ordered-inset-left .has-regions--1-2 .region:last-child,
.fourcol-source-ordered-inset-left .has-regions--1-3 .region:last-child {
  width: 32.20339%;
  float: right;
  margin-right: 0;
}
.fourcol-source-ordered-inset-left .has-regions--2-3 .region {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
.fourcol-source-ordered-inset-left .has-regions--2-3 .region:last-child {
  float: right;
  margin-right: 0;
}
.fourcol-source-ordered-inset-left .has-regions--1-4 .region:first-child,
.fourcol-source-ordered-inset-left .has-regions--2-4 .region:first-child,
.fourcol-source-ordered-inset-left .has-regions--3-4 .region:first-child {
  margin-left: 33.89831%;
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}
.fourcol-source-ordered-inset-left .has-regions--1-4 .region:last-child,
.fourcol-source-ordered-inset-left .has-regions--2-4 .region:last-child,
.fourcol-source-ordered-inset-left .has-regions--3-4 .region:last-child {
  margin-left: -101.69492%;
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
.fourcol-source-ordered-inset-left .has-regions--1-2-3 .region:nth-child(2), .fourcol-source-ordered-inset-left .has-regions--1-2-3 .region:last-child {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
.fourcol-source-ordered-inset-left .has-regions--1-2-3 .region:last-child {
  float: right;
  margin-right: 0;
}
.fourcol-source-ordered-inset-left .has-regions--1-2-4 .region:first-child,
.fourcol-source-ordered-inset-left .has-regions--1-3-4 .region:first-child {
  width: 205.26316%;
  float: right;
  margin-right: 0;
}
.fourcol-source-ordered-inset-left .has-regions--1-2-4 .region:nth-child(2),
.fourcol-source-ordered-inset-left .has-regions--1-3-4 .region:nth-child(2) {
  clear: right;
  width: 205.26316%;
  float: left;
  margin-left: 105.26316%;
  margin-right: -100%;
}
.fourcol-source-ordered-inset-left .has-regions--1-2-4 .region:last-child,
.fourcol-source-ordered-inset-left .has-regions--1-3-4 .region:last-child {
  width: 100%;
}
.fourcol-source-ordered-inset-left .has-regions--2-3-4 .region:first-child {
  margin-left: 25.42373%;
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
}
.fourcol-source-ordered-inset-left .has-regions--2-3-4 .region:nth-child(2) {
  width: 32.20339%;
  float: right;
  margin-right: 0;
}
.fourcol-source-ordered-inset-left .has-regions--2-3-4 .region:last-child {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
}
.fourcol-source-ordered-inset-left .active-region-count--4 .region:first-child {
  width: 74.57627%;
  float: right;
  margin-right: 0;
}
.fourcol-source-ordered-inset-left .active-region-count--4 .region:nth-child(2) {
  clear: right;
  width: 32.20339%;
  float: left;
  margin-left: 25.42373%;
  margin-right: -100%;
}
.fourcol-source-ordered-inset-left .active-region-count--4 .region:nth-child(3) {
  width: 23.72881%;
  float: left;
  margin-left: 76.27119%;
  margin-right: -100%;
}
.fourcol-source-ordered-inset-left .active-region-count--4 .region:last-child {
  width: 23.72881%;
}
