.fourcol-split-row-4-8--8-4 .active-region-count--2 .region:first-child {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
.fourcol-split-row-4-8--8-4 .active-region-count--2 .region:last-child {
  width: 66.10169%;
  float: right;
  margin-right: 0;
}
.fourcol-split-row-4-8--8-4 .active-region-count--3 .region:first-child {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
.fourcol-split-row-4-8--8-4 .active-region-count--3 .region:nth-child(2) {
  width: 66.10169%;
  float: right;
  margin-right: 0;
}
.fourcol-split-row-4-8--8-4 .active-region-count--4 .region {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}
.fourcol-split-row-4-8--8-4 .active-region-count--4 .region:first-child, .fourcol-split-row-4-8--8-4 .active-region-count--4 .region:last-child {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
.fourcol-split-row-4-8--8-4 .active-region-count--4 .region:last-child, .fourcol-split-row-4-8--8-4 .active-region-count--4 .region:nth-child(2) {
  float: right;
  margin-right: 0;
}
