/* $Id$ */
/* adaptivethemes.com */

/**
 * Accessibility Classes
 * This file exists to explain the usage of the new acessibility classes in 
 * Druapl 7. NOTE: these classes are included in base.css. You can easily copy
 * the technique for use in other selectors and the explanations provided are a 
 * guide to their appropriate usage.
 */


/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}


/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users.
 */
.element-invisible {
  height: 0;
  overflow: hidden;
  position: absolute;
}


/** 
 * Move content off screen where appropriate (Not in D7).  
 *
 * This should not be used for 
 * focusable elements! Instead swap top and left values to move it to the 
 * side of the viewport or else you will get scrolling issues when an element 
 * is focused (e.g. tabbed onto). 
 */
.offscreen {
  position: absolute;
  top: -9999em;
  left: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}







