@charset "utf-8";
/* $Id$ */
/* adaptivethemes.com */

/**
 * @file admin-build-block-rtl.css
 * Contains all styles for the fancy collaspe blocks on the block config page.
 */
.block-at-admin h2{text-align:right;}
.block-at-admin legend{margin:0 -10px 0 0;}
.at-admin-block-edit-links .item-list li{margin:0 0 0 .3em;}

.block-at-admin fieldset{margin-right:0.5em;}
.block-at-admin h2 span {float:left;}
div.block div.block-edit{top:10px;left:15px;right:auto;}

.block-at-admin h2.block-title,
.fieldset-block-info{text-align:right;}