@charset "utf-8";
/* $Id$ */
/* adaptivethemes.com */

/**
 * @file base-rtl.css
 * Base is the master reset for browsers and Drupal.
 */
.show-skip-link{text-align:left;}
.show-on-focus a:active,.show-on-focus a:focus{left:0;right:auto;}

blockquote{margin:0 0 1.5em;padding:0 3em 0 0;}

#forum table{clear:both;}
#forum tr td.forum{background-position:98% 5px!important;padding-right:1.67em;}
#forum tr td.forum .name{padding-right:.375em;}
#forum div.indent{margin-right:.5em;}

div.messages ul{margin:0 1.25em 0 0;}
div.error{background:#FFF3F6 url(core-images/status-error.png) no-repeat 99% .45em;}
div.status{background:#F1FFCF url(core-images/status-ok.png) no-repeat 99% .6em;}
div.help{background:#F7F8F8 url(core-images/status-info.png) no-repeat 99% .45em;}
div.warning{background:#FFF6DF url(core-images/status-warning.png) no-repeat 99% .45em;}
div.messages,div.warning,div.help,div.status,div.error{padding:.6em 3em .6em 1em;}
.update .info{padding:0 1em 0 0;}
.indented {margin-right:60px;}
.article-unpublished .unpublished,.comment-unpublished .unpublished{margin-left:0;padding-left:0;margin-right:.5em;padding-right:18px;}

ul,ol{margin:0 1.667em 1.5em 0;}
ul ul,ul ol,ol ol,ol ul,.block ul ul,.block ul ol,.block ol ol,.block ol ul,.item-list ul ul,.item-list ul ol,.item-list ol ol,.item-list ol ul{margin:0 1.667em 0 0;}
dd{margin:0 1.667em 1.5em 0;}
.item-list ul,.item-list ol{margin:0 1.667em 0 0;}
.block ul {padding:0 1.25em 0.25em 0;}

.tips{margin-right:3em;padding:.1875em 1.5em .1875em .375em ;}
fieldset legend{padding:0 0 0 1em;}
#user-login-form li.openid-link a,#user-login li.openid-link a{background:transparent url(core-images/openid.png) no-repeat 100% 0;padding:0 20px;}
.admin-panel h3{padding:0 .5em 0 0;}
.admin-panel dd{margin-right:0;}
#permissions td.permission{padding-left:.5em;}

ul.primary{padding:0 .3em .2em 0;}
ul.primary li a{margin-right:0;margin-left:.08em;padding:0.2em 0.75em 0.25em;}
.local-tasks ul.primary li a:hover{background-color:#F7F7F7;border-color:#DDD;}
.local-tasks ul.primary li.active a{background-color:#FFF;border-bottom-color:#FFF;}
ul.secondary{border-bottom:1px solid #CCC;margin:1em 0 0 0;padding:0 .3em 1em;}
ul.secondary li{border-right:0;list-style:none;padding:0 2em 0 0;}

/* Style edit links for blocks and views. */
div.block-edit-links .edit-links{left:15px;right:auto;}

/* Skinr style classes. */
/* Horizontal login block styles. */
.at-horizontal-login .form-item,.at-horizontal-login .form-submit{float:right;}
.at-horizontal-login .item-list ul{float:right;}
.at-horizontal-login .item-list ul li{float:right;}
.at-horizontal-login #user-login-form{text-align:right;}
.at-horizontal-login label{float:right;}
#block-user-0 label.overlabel-apply{margin-left:0;margin-right:.375em;}
.at-horizontal-login #user-login-form li a{padding:0 0 0 20px;}

/* inline menu style. */
.at-inline-menu ul.menu li{float:right;}
.at-inline-menu ul.menu li a{padding:0 .5em;}

/* multi-column menu style. */
.at-multicolumn-menu .block-content{}
.at-multicolumn-menu .block-content ul li{float:right;}
.at-multicolumn-menu .block-content ul li.expanded ul{margin-right:0;}
.at-multicolumn-menu .block-content ul li.expanded ul li{}

/* Article form rtl */
#node-form .node-col-last{float:left;}
#node-form .node-col-first{float:right;}
#node-form .node-col-last .buttons #edit-submit,
#node-form .node-col-last .buttons #edit-preview,
#node-form .node-col-last .buttons #edit-delete{margin:2px 0 2px 2px;}
