//
// Import required plugins and define base variables.
//
// Don't write any actual styles here, it's just for configuration and imports.
// ---------------------------------------------------------------------------

// Import Compass Plugins
@import "compass";

// Import Susy
@import "susy";


// Susy Global Settings
// 12 x 5.25, content box = 75em (1200px assuming 16px global font size) overall width.
// Using border-box this shrinks to 73.75/1180px.
$susy: (
  columns: 12,
  gutters: .25,
  column-width: 5em,
  gutter-position: after,
  global-box-sizing: border-box,
  flow: ltr,

  debug: (
    image: show-columns,
    color: rgba(0,0,0,0.25),
    output: overlay,
    toggle: bottom left,
  ),

);


// Set variables for the flow direction for ltr (left to right languages).
$flow-direction: susy-get(flow, $susy) !global;
$flow-to: to($flow-direction);
$flow-from: from($flow-direction);


// Breakpoints
//
// These breakpoints use ems, which mean they are dependant on the base font size,
// so any pixel equivalents stated here assume base font size of 16px. Change them
// to suit your requirements.
//
//   $mobile      - 0 to 45em, mobile screens.
//   $mobile-wide - 0 to 60em, wide mobile screens.
//   $narrow      - 45em and max-width 60em (720px to 960px), isolatation breakpoint for phablets/small tablets.
//   $narrow-wide - 45em (720px) and up.
//   $wide        - 60em (960px) and up.
//   $huge        - 120em (1920px) and up, for large monitors with big resolution.
//
// Schema:
//
// Schema:
// |-- $mobile -->|
// |-- $mobile-wide ------------->|
//                |<-- $narrow -->|
//                |--- $narrow-wide ------------------------------------------------->
//                                |--- $wide ---------------------------------------->
//                                                              |--- $huge ---------->
//
$mobile      : "all and (max-width: 45em)";
$mobile-wide : "all and (max-width: 60em)";
$narrow      : "all and (min-width: 45em) and (max-width: 60em)";
$narrow-wide : "all and (min-width: 45em)";
$wide        : "all and (min-width: 60em)";
$huge        : "all and (min-width: 120em)";
