/**
 * Color
 ========================================================================== */
/**
 * base.elements
 ========================================================================== */
/* line 11, ../../uikit/components/partials/_theme.color.scss */
html,
body {
  background-color: #333333;
}

/* line 17, ../../uikit/components/partials/_theme.color.scss */
body {
  color: #363636;
}

/* line 23, ../../uikit/components/partials/_theme.color.scss */
a {
  color: #0066cc;
}
/* line 26, ../../uikit/components/partials/_theme.color.scss */
a:link, a:visited {
  color: #0066cc;
}
/* line 31, ../../uikit/components/partials/_theme.color.scss */
a:active, a.active {
  color: #0066cc;
}
/* line 36, ../../uikit/components/partials/_theme.color.scss */
a:hover, a:focus {
  color: #0066cc;
}

/* line 44, ../../uikit/components/partials/_theme.color.scss */
blockquote {
  border-color: #cccccc;
}
/* line 49, ../../uikit/components/partials/_theme.color.scss */
blockquote p:first-child:before {
  color: #cccccc;
}
/* line 55, ../../uikit/components/partials/_theme.color.scss */
blockquote small {
  color: #434343;
}
/* line 60, ../../uikit/components/partials/_theme.color.scss */
blockquote.pull-right {
  border-right-color: #cccccc;
}

/* line 67, ../../uikit/components/partials/_theme.color.scss */
hr {
  border-color: #cccccc;
}

/**
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 77, ../../uikit/components/partials/_theme.color.scss */
::-moz-selection {
  background: #b3d4fc;
}

/* line 81, ../../uikit/components/partials/_theme.color.scss */
::-moz-selection {
  background: #b3d4fc;
}
::selection {
  background: #b3d4fc;
}

/**
 * Page
 *  - mainly for markup that is printed directly in page.html.twig and
 *    .l-r {}
 ========================================================================== */
/* line 93, ../../uikit/components/partials/_theme.color.scss */
.page {
  background-color: #f7f7f7;
}

/* line 116, ../../uikit/components/partials/_theme.color.scss */
.pr-header {
  background-color: #ffffff;
  color: #363636;
}
/* line 9, ../../uikit/components/mixins/_page.scss */
.pr-header .regions {
  background-color: inherit;
}

/* line 122, ../../uikit/components/partials/_theme.color.scss */
.pr-navbar {
  background-color: #666666;
  color: #ffffff;
}
/* line 9, ../../uikit/components/mixins/_page.scss */
.pr-navbar .regions {
  background-color: inherit;
}
/* line 125, ../../uikit/components/partials/_theme.color.scss */
.pr-navbar a,
.pr-navbar .menu a {
  color: inherit;
}

/* line 133, ../../uikit/components/partials/_theme.color.scss */
.pr-features {
  background-color: #d3d3d3;
  color: #363636;
}
/* line 9, ../../uikit/components/mixins/_page.scss */
.pr-features .regions {
  background-color: inherit;
}

/* line 143, ../../uikit/components/partials/_theme.color.scss */
.pr-tertiary {
  background-color: #d3d3d3;
  color: #363636;
}
/* line 9, ../../uikit/components/mixins/_page.scss */
.pr-tertiary .regions {
  background-color: inherit;
}

/* line 148, ../../uikit/components/partials/_theme.color.scss */
.pr-footer {
  background-color: #666666;
  color: #ffffff;
}
/* line 9, ../../uikit/components/mixins/_page.scss */
.pr-footer .regions {
  background-color: inherit;
}
/* line 151, ../../uikit/components/partials/_theme.color.scss */
.pr-footer a,
.pr-footer .menu a {
  color: inherit;
}
/* line 155, ../../uikit/components/partials/_theme.color.scss */
.pr-footer a:hover, .pr-footer a:focus,
.pr-footer .menu a:hover,
.pr-footer .menu a:focus {
  color: inherit;
}

/* line 164, ../../uikit/components/partials/_theme.color.scss */
.attribution {
  background-color: #666666;
}

/**
 * Branding styles
 *  - Drupal core branding block.
 ========================================================================== */
/**
 * Blocks
 ========================================================================== */
/**
 * Menus
 *  - style Drupal core block menus.
 *  - for the drop menu and other responsive menus see the mixins and the
 *    _navbar.scss partial.
 ========================================================================== */
/* line 211, ../../uikit/components/partials/_theme.color.scss */
.menu li.collapsed > a:after, .menu li.expanded > a:after {
  color: #363636;
}
/* line 218, ../../uikit/components/partials/_theme.color.scss */
.menu a {
  color: #0066cc;
}
/* line 222, ../../uikit/components/partials/_theme.color.scss */
.menu a:hover, .menu a:focus {
  color: #0066cc;
}
/* line 228, ../../uikit/components/partials/_theme.color.scss */
.menu a.active {
  color: #0066cc;
}

/**
 * Responsive menu styles.
 *
 * Mixins provide the basic struture and a base style (not much), the rest
 * is up to you, add colors, borders, padding and so on. Icons such as
 * the hamburger and arrows are set in variables in _variables.scss, and you
 * use the color varaibles for menus from there also.
 *
 * Menu styles are set in Appearance settings using the Responsive Menus extension.
 * There you select a block, breakpoint, a default style and a responsive style.
 * You can safely remove mixins from this file if you not going to use them later
 * on, and want to save a few bytes in stylsheet size.
 *
 * Each mixin takes one or more parameters. Use these to customize the basic struture
 * of the menu, or call options, for example you can place the offcanvas menu on the
 * left or right.
 *
 * Do not import into breakpoints unless you are not using the Responsive Menu
 * settings in Appearance Extensions, in which case you will need to load the
 * at_core/at.responsivemenus library and provide it's required drupalSettings.
 *
 * Breakpoints are handled in matchMedia using Enquire.
 *
 * Responsive styles are a combination of three things:
 *  1. Sass/CSS defined here (with breakpoints etc).
 *  2. jQuery: responsive-menus.js in AT Core libraries which adds/toggles classes.
 *  3. Theme settings as set in your themes Advanced extention settings.
 ========================================================================== */
/* line 277, ../../uikit/components/partials/_theme.color.scss */
.rm-block,
.rm-block * {
  background-color: inherit;
  color: inherit;
}

/* line 286, ../../uikit/components/partials/_theme.color.scss */
.rm-toggle span {
  background: transparent;
}

/* line 298, ../../uikit/components/partials/_theme.color.scss */
.rm-block__content .menu li.active-trail > a {
  color: inherit;
  background: rgba(255, 255, 255, 0.3);
}
/* line 304, ../../uikit/components/partials/_theme.color.scss */
.rm-block__content .menu a {
  color: inherit;
  background: inherit;
}
/* line 308, ../../uikit/components/partials/_theme.color.scss */
.rm-block__content .menu a:active {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  opacity: 0.9;
}
/* line 313, ../../uikit/components/partials/_theme.color.scss */
.rm-block__content .menu a:hover, .rm-block__content .menu a:focus {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 319, ../../uikit/components/partials/_theme.color.scss */
.rm-block__content .menu a.active {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 323, ../../uikit/components/partials/_theme.color.scss */
.rm-block__content .menu a.active[href="/"] {
  background-color: transparent;
}
/* line 326, ../../uikit/components/partials/_theme.color.scss */
.rm-block__content .menu a.active[href="/"]:hover, .rm-block__content .menu a.active[href="/"]:focus {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 366, ../../uikit/components/partials/_theme.color.scss */
.ms-offcanvas .rm-block__content {
  opacity: .001;
  background-color: #333333;
  color: #f7f7f7;
}

/* line 381, ../../uikit/components/partials/_theme.color.scss */
.ms-tiles .rm-block__content .menu-level-1 > li {
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 392, ../../uikit/components/partials/_theme.color.scss */
.ms-flipslide.rm-is-open .rm-block__content .menu-level-1 > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
/* line 398, ../../uikit/components/partials/_theme.color.scss */
.ms-flipslide.rm-is-open .rm-block__content .menu-level-1 > li > a {
  background-color: rgba(255, 255, 255, 0.3);
}

/**
 * Breadcrumbs
 ========================================================================== */
/* line 413, ../../uikit/components/partials/_theme.color.scss */
.breadcrumb li:before {
  color: #cccccc;
}
/* line 418, ../../uikit/components/partials/_theme.color.scss */
.breadcrumb a {
  color: #0066cc;
  text-decoration: none;
}

/**
 * Tables
 * Base styles.
 ========================================================================== */
/* line 430, ../../uikit/components/partials/_theme.color.scss */
table {
  border-color: #cccccc;
}

/**
 * Table Theme
 * Style Drupal selectors for tables.
 ========================================================================== */
/* line 441, ../../uikit/components/partials/_theme.color.scss */
tr {
  border-color: #cccccc;
}

/* line 482, ../../uikit/components/partials/_theme.color.scss */
thead tr {
  color: #363636;
  background-color: #ededed;
}

/* line 490, ../../uikit/components/partials/_theme.color.scss */
tr,
td,
th {
  border-color: #cccccc;
}

/**
 * Forms
 *  - This probably seems like a lot - remember AT unsets system.theme.css and
 *    gives you complete control over all form elements.
 *
 * Note:
 *  - input type submit is treated as a 'button', see _buttons.scss
 *  - for drop buttons see _buttons.scss
 ========================================================================== */
/* line 509, ../../uikit/components/partials/_theme.color.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  color: #505050;
  border-color: #cccccc;
  background-color: #ffffff;
}
/* line 533, ../../uikit/components/partials/_theme.color.scss */
textarea:focus,
select:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  border-color: #cccccc;
  color: #363636;
}
/* line 538, ../../uikit/components/partials/_theme.color.scss */
textarea:hover, textarea:focus,
select:hover,
select:focus,
input[type="date"]:hover,
input[type="date"]:focus,
input[type="datetime"]:hover,
input[type="datetime"]:focus,
input[type="datetime-local"]:hover,
input[type="datetime-local"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="month"]:hover,
input[type="month"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="tel"]:hover,
input[type="tel"]:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="time"]:hover,
input[type="time"]:focus,
input[type="url"]:hover,
input[type="url"]:focus,
input[type="week"]:hover,
input[type="week"]:focus {
  background-color: white;
}
/* line 544, ../../uikit/components/partials/_theme.color.scss */
textarea[disabled]:hover, textarea[disabled]:focus,
select[disabled]:hover,
select[disabled]:focus,
input[type="date"][disabled]:hover,
input[type="date"][disabled]:focus,
input[type="datetime"][disabled]:hover,
input[type="datetime"][disabled]:focus,
input[type="datetime-local"][disabled]:hover,
input[type="datetime-local"][disabled]:focus,
input[type="email"][disabled]:hover,
input[type="email"][disabled]:focus,
input[type="month"][disabled]:hover,
input[type="month"][disabled]:focus,
input[type="number"][disabled]:hover,
input[type="number"][disabled]:focus,
input[type="password"][disabled]:hover,
input[type="password"][disabled]:focus,
input[type="search"][disabled]:hover,
input[type="search"][disabled]:focus,
input[type="tel"][disabled]:hover,
input[type="tel"][disabled]:focus,
input[type="text"][disabled]:hover,
input[type="text"][disabled]:focus,
input[type="time"][disabled]:hover,
input[type="time"][disabled]:focus,
input[type="url"][disabled]:hover,
input[type="url"][disabled]:focus,
input[type="week"][disabled]:hover,
input[type="week"][disabled]:focus {
  color: #363636;
}

/**
 * Collapsible details.
 *
 * @see collapse.js
 * @thanks http://nicolasgallagher.com/css-background-image-hacks/
 */
/* line 558, ../../uikit/components/partials/_theme.color.scss */
details {
  border-color: #cccccc;
}

/* line 567, ../../uikit/components/partials/_theme.color.scss */
input[readonly],
select[readonly],
textarea[readonly] {
  background: #ededed;
  color: #363636;
}

/* line 575, ../../uikit/components/partials/_theme.color.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  background: #ededed;
  color: #363636;
}

/* line 588, ../../uikit/components/partials/_theme.color.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #505050;
}

/* line 593, ../../uikit/components/partials/_theme.color.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #505050;
}

/* line 598, ../../uikit/components/partials/_theme.color.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #505050;
}

/**
 * Form Theme
 ========================================================================== */
/* line 609, ../../uikit/components/partials/_theme.color.scss */
.filter-wrapper {
  border-color: #cccccc;
}

/* line 615, ../../uikit/components/partials/_theme.color.scss */
.tips {
  color: #505050;
}

/* line 621, ../../uikit/components/partials/_theme.color.scss */
.description {
  color: #505050;
}

/* line 626, ../../uikit/components/partials/_theme.color.scss */
.marker {
  color: #ee0000;
}

/* line 631, ../../uikit/components/partials/_theme.color.scss */
.form-required:after {
  color: #ee0000;
}

/* line 638, ../../uikit/components/partials/_theme.color.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border-color: #f9c9bf;
}

/**
 * Buttons
 * We include button styling seperate (from _forms.scss) mainly because the form
 * styles are quite long already and we often want to add unique button variants.
 *
 *  - applies to elements with class "button", includes styles for:
 *  - input buttons
 *  - anchor links styled as buttons
 *  - drop buttons
 *  - action link buttons
 ========================================================================== */
/* line 658, ../../uikit/components/partials/_theme.color.scss */
button,
.button {
  color: #363636;
  background: #fafafa;
  border-color: #cccccc;
  opacity: 0.9;
}
/* line 670, ../../uikit/components/partials/_theme.color.scss */
button:hover, button:focus,
.button:hover,
.button:focus {
  opacity: 1;
  color: #363636;
  background-color: #f2f2f2;
}
/* line 678, ../../uikit/components/partials/_theme.color.scss */
button[disabled]:hover,
.button[disabled]:hover {
  color: #2e2e2e;
}

/* line 686, ../../uikit/components/partials/_theme.color.scss */
.button--primary {
  color: #fffffe;
  background-color: #333333;
  border-color: #d3d3d3;
}
/* line 10, ../../uikit/components/mixins/_button-variant.scss */
.button--primary:link, .button--primary:visited {
  color: #fffffe;
  background-color: #333333;
  border-color: #d3d3d3;
}
/* line 17, ../../uikit/components/mixins/_button-variant.scss */
.button--primary:hover, .button--primary:focus, .button--primary:active, .button--primary.active {
  color: #fffffe;
  background-color: #262626;
  border-color: #c6c6c6;
}

/* line 692, ../../uikit/components/partials/_theme.color.scss */
.button--danger {
  color: #a51b00;
  background-color: transparent;
  border-color: transparent;
}
/* line 10, ../../uikit/components/mixins/_button-variant.scss */
.button--danger:link, .button--danger:visited {
  color: #a51b00;
  background-color: transparent;
  border-color: transparent;
}
/* line 17, ../../uikit/components/mixins/_button-variant.scss */
.button--danger:hover, .button--danger:focus, .button--danger:active, .button--danger.active {
  color: #a51b00;
  background-color: transparent;
  border-color: transparent;
}

/* Drop buttons */
/* line 704, ../../uikit/components/partials/_theme.color.scss */
.js .dropbutton-widget {
  background-color: #f7f7f7;
  border-color: #cccccc;
}

/* line 711, ../../uikit/components/partials/_theme.color.scss */
.dropbutton .secondary-action {
  border-top-color: #cccccc;
}
/* line 714, ../../uikit/components/partials/_theme.color.scss */
.dropbutton .secondary-action .button {
  background: #f7f7f7;
}
/* line 725, ../../uikit/components/partials/_theme.color.scss */
.dropbutton .dropbutton-toggle button:hover {
  background: transparent;
}

/* line 735, ../../uikit/components/partials/_theme.color.scss */
.dropbutton-multiple .dropbutton {
  border-right-color: #cccccc;
}
/* line 739, ../../uikit/components/partials/_theme.color.scss */
.dropbutton-multiple .dropbutton .publish .button {
  color: #fffffe;
  background-color: #333333;
  border-color: #d3d3d3;
}
/* line 10, ../../uikit/components/mixins/_button-variant.scss */
.dropbutton-multiple .dropbutton .publish .button:link, .dropbutton-multiple .dropbutton .publish .button:visited {
  color: #fffffe;
  background-color: #333333;
  border-color: #d3d3d3;
}
/* line 17, ../../uikit/components/mixins/_button-variant.scss */
.dropbutton-multiple .dropbutton .publish .button:hover, .dropbutton-multiple .dropbutton .publish .button:focus, .dropbutton-multiple .dropbutton .publish .button:active, .dropbutton-multiple .dropbutton .publish .button.active {
  color: #fffffe;
  background-color: #262626;
  border-color: #c6c6c6;
}
/* line 746, ../../uikit/components/partials/_theme.color.scss */
[dir="rtl"] .dropbutton-multiple .dropbutton {
  border-left-color: #cccccc;
}
/* line 753, ../../uikit/components/partials/_theme.color.scss */
.dropbutton-multiple.open .dropbutton-action .button {
  border-radius: 2px 0 0 0;
}
/* line 762, ../../uikit/components/partials/_theme.color.scss */
.dropbutton-multiple .dropbutton .secondary-action .button {
  border-radius: 0 0 0 2px;
}
/* line 765, ../../uikit/components/partials/_theme.color.scss */
.dropbutton-multiple .dropbutton .secondary-action .button:hover, .dropbutton-multiple .dropbutton .secondary-action .button:focus {
  border-radius: 0 0 0 2px;
}

/**
 * File icons
 * AT unsets Drupal core file field CSS for image icons and replaces them
 * with FontAwesome icons.
 ========================================================================== */
/* line 782, ../../uikit/components/partials/_theme.color.scss */
.file a:before {
  color: #363636;
}

/**
 * Field Taxonomy Reference
 ========================================================================== */
/**
 * Labels.
 *  -  for example "new" mark on comments, tags etc.
 *
 *  TODO: fix this stuff up, its just a copy/paste from system.theme.css at the moment.
 ========================================================================== */
/* line 825, ../../uikit/components/partials/_theme.color.scss */
.filter-help a:after,
.more-help-link a:after {
  color: #cccccc;
}

/**
 * Messages
 *  - style system messages such as status, warning and error.
 ========================================================================== */
/* Success (status) */
/* line 837, ../../uikit/components/partials/_theme.color.scss */
.messages--status,
table tr.ok {
  background-color: #f3faef;
}

/* line 842, ../../uikit/components/partials/_theme.color.scss */
.messages--status,
.ok {
  color: #325e1c;
}

/* Warning */
/* line 849, ../../uikit/components/partials/_theme.color.scss */
.messages--warning,
table tr.warning {
  background-color: #fdf8ed;
}

/* line 854, ../../uikit/components/partials/_theme.color.scss */
.messages--warning,
.warning {
  color: #734c00;
}

/* Error */
/* line 861, ../../uikit/components/partials/_theme.color.scss */
.messages--error,
table tr.error {
  background-color: #fcf4f2;
}

/* line 866, ../../uikit/components/partials/_theme.color.scss */
.messages--error,
.error {
  color: #a51b00;
}

/* line 873, ../../uikit/components/partials/_theme.color.scss */
.dev-query {
  color: #f7f7f7;
}

/* line 879, ../../uikit/components/partials/_theme.color.scss */
body > pre,
.xdebug-var-dump {
  color: #f7f7f7;
}

/* line 886, ../../uikit/components/partials/_theme.color.scss */
.page .xdebug-var-dump {
  color: #363636;
}

/* line 894, ../../uikit/components/partials/_theme.color.scss */
body:before {
  color: #a51b00;
}

/*# sourceMappingURL=color.css.map */