@charset "UTF-8";
/**
 * File icons
 * AT unsets Drupal core file field CSS for image icons and replaces them
 * with FontAwesome icons.
 ========================================================================== */
.file {
  display: block;
}
.file a {
  text-decoration: none;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.file a:before {
  font-family: FontAwesome, sans-serif;
  content: "";
  color: #363636;
  padding-right: 0.5em;
}

.file--package-x-generic a:before {
  content: "";
}

.file--x-office-spreadsheet a:before {
  content: "";
}

.file--x-office-document a:before {
  content: "";
}

.file--x-office-presentation a:before {
  content: "";
}

.file--text-x-script:before,
.file--text-html:before,
.file [href*='.js']:before,
.file [href*='.css']:before,
.file [href*='.scss']:before,
.file [href*='.sass']:before,
.file [href*='.less']:before,
.file [href*='.rb']:before,
.file [href*='.php']:before,
.file [href*='.inc']:before,
.file [href*='.htm']:before,
.file [href*='.html']:before,
.file [href*='.xml']:before,
.file [href*='.twig']:before,
.file [href*='.theme']:before,
.file [href*='.module']:before,
.file [href*='.config']:before,
.file [href*='.install']:before,
.file [href*='.yml']:before,
.file [href*='.json']:before,
.file [href*='.sh']:before {
  content: "";
}

.file--text a:before,
.file--text-plain a:before {
  content: "";
}

.file--application-pdf a:before {
  content: "";
}

.file--audio a:before {
  content: "";
}

.file--video a:before {
  content: "";
}

.file--image a:before {
  content: "";
}
