/**
 * Images/Media
 ========================================================================== */
img {
  height: auto;
  line-height: 0;
  max-width: 100%;
  display: inline-block;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

img.align-left {
  margin: 7px 16px 16px 0;
  margin: 0.43769rem 1rem 1rem 0;
}

img.align-right {
  margin: 4px 0 16px 16px;
  margin: 0.27051rem 0 1rem 1rem;
}

img.align-center {
  margin: 4px 0 16px;
  margin: 0.27051rem 0 1rem;
}
