/**
 * List Styles
 *  - Prestyled classes for embedding in content lists or applying to
 *    views output (needs tests for views).
 ========================================================================== */
.list-horizontal {
  padding: 0;
  list-style: none;
}
.list-horizontal li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
.list-horizontal {
  *zoom: 1;
}
.list-horizontal:before, .list-horizontal:after {
  content: "";
  display: table;
}
.list-horizontal:after {
  clear: both;
}
.list-horizontal li {
  float: left;
  margin: 0 16px 0 16px;
  margin: 0 1rem 0 1rem;
}
.list-horizontal ul,
.list-horizontal ol {
  display: none;
}

.list-multicolumn {
  padding: 0;
  list-style: none;
}
.list-multicolumn li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
.list-multicolumn {
  *zoom: 1;
}
.list-multicolumn:before, .list-multicolumn:after {
  content: "";
  display: table;
}
.list-multicolumn:after {
  clear: both;
}
.list-multicolumn > li {
  font-weight: 700;
}
.list-multicolumn ul, .list-multicolumn ol {
  font-weight: 400;
  padding: 0;
}

@media all and (min-width: 45em) {
  .list-multicolumn {
    padding: 0;
  }
  .list-multicolumn {
    *zoom: 1;
  }
  .list-multicolumn:before, .list-multicolumn:after {
    content: "";
    display: table;
  }
  .list-multicolumn:after {
    clear: both;
  }
  .list-multicolumn > li {
    width: 12em;
    float: left;
  }
  .list-multicolumn ul, .list-multicolumn ol {
    padding: 0;
  }
  .list-multicolumn a {
    display: block;
  }
}
ul.inline, ul.links.inline {
  padding: 0;
}
ul.inline {
  padding: 0;
  list-style: none;
}
ul.inline li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
ul.inline {
  *zoom: 1;
}
ul.inline:before, ul.inline:after {
  content: "";
  display: table;
}
ul.inline:after {
  clear: both;
}
ul.inline li {
  float: left;
  margin: 0 16px 0 0;
  margin: 0 1rem 0 0;
}
ul.inline ul,
ul.inline ol {
  display: none;
}
[dir="rtl"] ul.inline li {
  margin: 0 0 0 16px;
}

.item-list ul,
.item-list ol {
  padding: 0;
}
.item-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.item-list li li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

dt {
  font-weight: 600;
}

dd {
  margin-left: 16px;
  margin-left: 1rem;
}
[dir="rtl"] dd {
  margin-left: 0;
  margin-right: 16px;
  margin-right: 1rem;
}

@media all and (min-width: 45em) {
  .dl-horizontal dt {
    float: left;
    clear: left;
    text-align: left;
    width: 11em;
  }
  .dl-horizontal dt:after {
    content: ":";
  }
  .dl-horizontal dd {
    margin-left: 12em;
    overflow: hidden;
    *overflow: visible;
    *zoom: 1;
  }
}
