@charset "UTF-8";
/**
 * Responsive menu styles. Import into breakpoints.
 *  - slidedown
 *  - off canvas
 *  - tiles
 *
 * Set the breakpoint and import the menu style into that breakpoint, then
 * visit your theme settings and configure options.
 *
 * Responsive styles are a combination of three things:
 *  1. Sass/CSS defined here (with breakpoints etc).
 *  2. jQuery: responsive-menus.js in AT Core libraries which adds/toggles classes.
 *  3. Theme settings as set in your themes Advanced extention settings.
 ========================================================================== */
body.no-fouc .responsive-menu-region .block-menu__content {
  display: none;
}

.responsive-menu-region,
.responsive-menu-region .block,
.responsive-menu-region .block * {
  background-color: inherit;
  color: inherit;
}

.responsive-menu-region {
  padding: 0;
}
.responsive-menu-region .contextual-region {
  position: static;
}
.responsive-menu-region .contextual-region .contextual {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}
.responsive-menu-region .menu {
  position: relative;
}
.responsive-menu-region .menu > li {
  z-index: 100;
}
.responsive-menu-region .menu li {
  position: relative;
  vertical-align: middle;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}
.responsive-menu-region .menu li.active-trail > a {
  color: inherit;
  background: rgba(255, 255, 255, 0.3);
}
.responsive-menu-region .menu a {
  color: inherit;
  background: inherit;
  -moz-transition: all, 0.2s, ease-in;
  -o-transition: all, 0.2s, ease-in;
  -webkit-transition: all, 0.2s, ease-in;
  transition: all, 0.2s, ease-in;
}
.responsive-menu-region .menu a:hover, .responsive-menu-region .menu a:focus {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}
.responsive-menu-region .menu a.active {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.3);
}
.responsive-menu-region .menu a.active[href="/"] {
  background-color: transparent;
}
.responsive-menu-region .menu a.active[href="/"]:hover, .responsive-menu-region .menu a.active[href="/"]:focus {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-style-dropmenu .responsive-menu-region .block-menu__title {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}
.menu-style-dropmenu .responsive-menu-region .block-menu a {
  position: relative;
  padding: 7px 18px;
  padding: 0.43769rem 1.1459rem;
}
.menu-style-dropmenu .responsive-menu-region .block-menu a:after {
  position: absolute;
  right: 16px;
  right: 1rem;
}
.menu-style-dropmenu .responsive-menu-region .block-menu .menu-level-1 {
  position: relative;
}
.menu-style-dropmenu .responsive-menu-region .block-menu .menu-level-1 li {
  float: left;
  width: 12em;
}
.menu-style-dropmenu .responsive-menu-region .block-menu .menu-level-1 li.expanded > a:after {
  content: "";
}
.menu-style-dropmenu .responsive-menu-region .block-menu .menu-level-1 li.collapsed > a:after {
  content: '';
}
.menu-style-dropmenu .responsive-menu-region .block-menu .menu-level-1 li ul {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  -moz-transition: all, 0.2s, ease;
  -o-transition: all, 0.2s, ease;
  -webkit-transition: all, 0.2s, ease;
  transition: all, 0.2s, ease;
}
.menu-style-dropmenu .responsive-menu-region .block-menu .menu-level-1 li:hover > ul, .menu-style-dropmenu .responsive-menu-region .block-menu .menu-level-1 li:focus > ul {
  display: block;
  opacity: 1;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
  font-family: inherit;
}
.menu-style-dropmenu .responsive-menu-region .block-menu .odd ul {
  left: 0;
  top: auto;
}
.menu-style-dropmenu .responsive-menu-region .block-menu .odd ul > .expanded > a:after {
  content: "";
}
.menu-style-dropmenu .responsive-menu-region .block-menu .odd ul .odd {
  left: 100%;
  top: 0;
}
.menu-style-dropmenu .responsive-menu-region .block-menu .odd ul .odd > .expanded > a:after {
  content: "";
}

.menu-style-horizontal .responsive-menu-region .block-menu__title {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}
.menu-style-horizontal .responsive-menu-region .block-menu a {
  padding: 7px 18px;
  padding: 0.43769rem 1.1459rem;
}
.menu-style-horizontal .responsive-menu-region .block-menu a:before, .menu-style-horizontal .responsive-menu-region .block-menu a:after {
  content: "";
  float: none;
  width: 0;
  padding: 0;
}
.menu-style-horizontal .responsive-menu-region .block-menu .menu-level-1 {
  padding: 0;
  list-style: none;
}
.menu-style-horizontal .responsive-menu-region .block-menu .menu-level-1 li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
.menu-style-horizontal .responsive-menu-region .block-menu .menu-level-1 {
  *zoom: 1;
}
.menu-style-horizontal .responsive-menu-region .block-menu .menu-level-1:before, .menu-style-horizontal .responsive-menu-region .block-menu .menu-level-1:after {
  content: "";
  display: table;
}
.menu-style-horizontal .responsive-menu-region .block-menu .menu-level-1:after {
  clear: both;
}
.menu-style-horizontal .responsive-menu-region .block-menu .menu-level-1 li {
  float: left;
  margin: 0 0 0 0;
}
.menu-style-horizontal .responsive-menu-region .block-menu .menu-level-1 ul,
.menu-style-horizontal .responsive-menu-region .block-menu .menu-level-1 ol {
  display: none;
}

.menu-style-offcanvas .responsive-menu-region .block-menu__title {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  padding: 7px 0;
  padding: 0.43769rem 0;
  cursor: pointer;
}
.menu-style-offcanvas .responsive-menu-region .block-menu__title:after {
  font-family: FontAwesome, sans-serif;
  content: "";
  width: 16px;
  width: 1rem;
}
.menu-style-offcanvas .responsive-menu-region .block-menu__content {
  background-color: #333333;
  color: #ffffff;
  position: absolute;
  top: 0;
  padding: 0 0 7px;
  padding: 0 0 0.43769rem;
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}
.menu-style-offcanvas > .page {
  -moz-transition: all, 0.2s, ease-in-out;
  -o-transition: all, 0.2s, ease-in-out;
  -webkit-transition: all, 0.2s, ease-in-out;
  transition: all, 0.2s, ease-in-out;
}
.menu-style-offcanvas.offcanvas-left .responsive-menu-region .block-menu__title {
  text-align: left;
}
.menu-style-offcanvas.offcanvas-left .responsive-menu-region .block-menu__title:after {
  float: left;
  text-align: left;
  margin: 0 10px 0 16px;
  margin: 0 0.61803rem 0 1rem;
}
.menu-style-offcanvas.offcanvas-left .responsive-menu-region .block-menu__content {
  left: 0;
  -moz-transform: translate3d(-15em, 0, 0);
  -ms-transform: translate3d(-15em, 0, 0);
  -webkit-transform: translate3d(-15em, 0, 0);
  transform: translate3d(-15em, 0, 0);
}
.menu-style-offcanvas.offcanvas-right .responsive-menu-region .block-menu__title {
  text-align: right;
}
.menu-style-offcanvas.offcanvas-right .responsive-menu-region .block-menu__title:after {
  float: right;
  text-align: right;
  margin: 0 16px 0 10px;
  margin: 0 1rem 0 0.61803rem;
}
.menu-style-offcanvas.offcanvas-right .responsive-menu-region .block-menu__content {
  right: 0;
  -moz-transform: translate3d(15em, 0, 0);
  -ms-transform: translate3d(15em, 0, 0);
  -webkit-transform: translate3d(15em, 0, 0);
  transform: translate3d(15em, 0, 0);
}
.menu-style-offcanvas.menu-expanded > .page {
  position: fixed;
}
.menu-style-offcanvas.menu-expanded > .page .block-menu__content {
  clip: auto;
  overflow: visible;
  height: auto;
  font-family: inherit;
  font-size: inherit;
  width: 15em;
}
.menu-style-offcanvas.menu-expanded.offcanvas-left > .page {
  -moz-transform: translate3d(15em, 0, 0);
  -ms-transform: translate3d(15em, 0, 0);
  -webkit-transform: translate3d(15em, 0, 0);
  transform: translate3d(15em, 0, 0);
  position: fixed;
}
.menu-style-offcanvas.menu-expanded.offcanvas-right > .page {
  -moz-transform: translate3d(-15em, 0, 0);
  -ms-transform: translate3d(-15em, 0, 0);
  -webkit-transform: translate3d(-15em, 0, 0);
  transform: translate3d(-15em, 0, 0);
}

.menu-style-flipslide .responsive-menu-region {
  position: relative;
}
.menu-style-flipslide .responsive-menu-region .block-menu__title {
  cursor: pointer;
  display: table;
  font-size: 1rem;
  line-height: 1.5;
  position: absolute;
  right: 0;
  text-align: center;
  width: 3rem;
  z-index: 200;
  padding: 7px;
  padding: 0.43769rem;
}
.menu-style-flipslide .responsive-menu-region .block-menu__title span {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}
.menu-style-flipslide .responsive-menu-region .block-menu__title:after {
  font-family: FontAwesome, sans-serif;
  content: "";
  width: 16px;
  width: 1rem;
}
.menu-style-flipslide .responsive-menu-region .block-menu__content {
  -moz-transition: all, 0.2s, ease;
  -o-transition: all, 0.2s, ease;
  -webkit-transition: all, 0.2s, ease;
  transition: all, 0.2s, ease;
}
.menu-style-flipslide .responsive-menu-region .block-menu__content .menu-level-1 > li {
  float: left;
}
.menu-style-flipslide .responsive-menu-region .block-menu__content .menu-level-1 > li > a:after {
  content: "";
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}
.menu-style-flipslide .responsive-menu-region .block-menu__content .menu-level-2 {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content {
  padding: 0;
  margin: 0;
}
.menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu li.expanded > a:after {
  content: "";
}
.menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu-level-1 > li {
  float: none;
  margin-right: 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu-level-1 > li {
  *zoom: 1;
}
.menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu-level-1 > li:before, .menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu-level-1 > li:after {
  content: "";
  display: table;
}
.menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu-level-1 > li:after {
  clear: both;
}
.menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu-level-1 > li:last-child {
  border-bottom: none;
}
.menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu-level-1 > li a {
  float: left;
}
.menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu-level-1 > li > a {
  width: 12em;
  background-color: rgba(255, 255, 255, 0.3);
}
.menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu-level-2 {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
  font-family: inherit;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  float: left;
}
.menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu-level-2 ul, .menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu-level-2 ol {
  padding: 0;
}
.menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu-level-2 li,
.menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu-level-2 ul {
  float: left;
}
.menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu-level-2 li a,
.menu-style-flipslide .responsive-menu-region .block.menu-expanded .block-menu__content .menu-level-2 ul a {
  width: auto;
}

.menu-style-slidedown .responsive-menu-region .block-menu__title {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  padding: 7px 0;
  padding: 0.43769rem 0;
  cursor: pointer;
}
.menu-style-slidedown .responsive-menu-region .block-menu__title:after {
  font-family: FontAwesome, sans-serif;
  content: "";
  width: 16px;
  width: 1rem;
  float: right;
  text-align: right;
}
.menu-style-slidedown .responsive-menu-region .block-menu__content {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  -moz-transition: all, 0.2s, ease;
  -o-transition: all, 0.2s, ease;
  -webkit-transition: all, 0.2s, ease;
  transition: all, 0.2s, ease;
}
.menu-style-slidedown .responsive-menu-region .block.menu-expanded .block-menu__content {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
  font-family: inherit;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  padding: 0 0 7px;
  padding: 0 0 0.43769rem;
}

.menu-style-tiles .responsive-menu-region .block-menu__title,
.menu-style-tiles .responsive-menu-region .menu-level-2 {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}
.menu-style-tiles .responsive-menu-region .block-menu__content {
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
}
.menu-style-tiles .responsive-menu-region .menu li.expanded > a:after {
  content: none;
}
.menu-style-tiles.tiles-count-two .responsive-menu-region .menu-level-1 > li {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
.menu-style-tiles.tiles-count-two .responsive-menu-region .menu-level-1 > li:nth-child(2n) {
  margin-right: 0;
}
.menu-style-tiles.tiles-count-three .responsive-menu-region .menu-level-1 > li {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
.menu-style-tiles.tiles-count-three .responsive-menu-region .menu-level-1 > li:nth-child(3n) {
  margin-right: 0;
}
.menu-style-tiles.tiles-count-four .responsive-menu-region .menu-level-1 > li {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
.menu-style-tiles.tiles-count-four .responsive-menu-region .menu-level-1 > li:nth-child(4n) {
  margin-right: 0;
}
.menu-style-tiles.tiles-submenus-true .responsive-menu-region .menu-level-2 {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
  font-family: inherit;
}
.menu-style-tiles.tiles-submenus-true .responsive-menu-region .menu-level-1 .menu li {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  clear: both;
}

.menu-style-dropmenu .responsive-menu-region .block-menu__content li {
  text-align: center;
}
.menu-style-dropmenu .responsive-menu-region .block-menu__content li.expanded li {
  text-align: left;
}

.menu-style-tiles .responsive-menu-region .block-menu__content {
  padding: 7px 0;
  padding: 0.43769rem 0;
}
.menu-style-tiles .responsive-menu-region .menu-level-1 > li {
  margin: 7px 0;
  margin: 0.43769rem 0;
  background-color: rgba(255, 255, 255, 0.3);
}
