/**
 * Content Types (nodes)
 *  - in Drupal a content type is a bunch of fields we use to enter and display
 *    content, such as pages, blog posts, forum posts and so on. Each of those
 *    is usually a content type you create in the Drupal admin.
 *  - an instance of a content type (e.g. a single blog post) is called a node,
 *    the root template is called node.html.twg and the base selector is .node {}
 ========================================================================== */
.node {
  *zoom: 1;
}
.node:before, .node:after {
  content: "";
  display: table;
}
.node:after {
  clear: both;
}

.node--view-mode-full .node__title {
  margin: 0 0 16px;
  margin: 0 0 1rem;
}

.node__meta {
  margin: 16px 0;
  margin: 1rem 0;
}

.node__author {
  display: inline;
}

.node__submitted article:empty {
  display: none;
}

.node__footer {
  clear: both;
}
.node__footer {
  *zoom: 1;
}
.node__footer:before, .node__footer:after {
  content: "";
  display: table;
}
.node__footer:after {
  clear: both;
}
