/**
 * Pagers
 ========================================================================== */
.item-list .pager {
  clear: both;
  text-align: center;
}
.item-list .pager li {
  background-image: none;
  display: inline;
  list-style: none;
  padding: 10px;
  padding: 0.61803rem;
}
.item-list .pager li li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
.item-list .pager li.pager-current {
  font-weight: bold;
}
