/**
 * Shortcodes
 * Styles applied via AT Extension "Shortcodes", small snippets of CSS
 * applied using classes added to various components via the appearance
 * user interface (Appearance settings).
 ========================================================================== */
.ta-center,
.ta-center * {
  text-align: center;
}

.ta-left,
.ta-left * {
  text-align: left;
}

.ta-right,
.ta-right * {
  text-align: right;
}

.ta-justify
.ta-justify * {
  text-align: justify;
}

.center-element {
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 60em) {
  .pull-right,
  [dir="rtl"] .pull-left {
    float: right;
  }

  .pull-left,
  [dir="rtl"] .pull-right {
    float: left;
  }

  .lc-quarter {
    width: 25%;
  }

  .lc-half {
    width: 50%;
  }

  .lc-three-quarters {
    width: 75%;
  }

  .lc-third {
    width: 33.3334%;
  }

  .lc-two-thirds {
    width: 66.6667%;
  }
}
@media all and (max-width: 60em) {
  .grid-block-2 .block {
    width: 49.15254%;
    float: left;
  }
  .grid-block-2 .block:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .grid-block-2 .block:nth-child(2n + 2) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none;
  }

  .grid-block-3 .block {
    width: 32.20339%;
    float: left;
  }
  .grid-block-3 .block:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .grid-block-3 .block:nth-child(3n + 2) {
    margin-left: 33.89831%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-3 .block:nth-child(3n + 3) {
    margin-left: 67.79661%;
    margin-right: -100%;
    clear: none;
  }

  .grid-block-4 .block {
    width: 23.72881%;
    float: left;
  }
  .grid-block-4 .block:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .grid-block-4 .block:nth-child(4n + 2) {
    margin-left: 25.42373%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-4 .block:nth-child(4n + 3) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-4 .block:nth-child(4n + 4) {
    margin-left: 76.27119%;
    margin-right: -100%;
    clear: none;
  }

  .grid-block-6 .block {
    width: 15.25424%;
    float: left;
  }
  .grid-block-6 .block:nth-child(6n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .grid-block-6 .block:nth-child(6n + 2) {
    margin-left: 16.94915%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-6 .block:nth-child(6n + 3) {
    margin-left: 33.89831%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-6 .block:nth-child(6n + 4) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-6 .block:nth-child(6n + 5) {
    margin-left: 67.79661%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-6 .block:nth-child(6n + 6) {
    margin-left: 84.74576%;
    margin-right: -100%;
    clear: none;
  }

  .grid-block-12 .block {
    width: 6.77966%;
    float: left;
  }
  .grid-block-12 .block:nth-child(12n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .grid-block-12 .block:nth-child(12n + 2) {
    margin-left: 8.47458%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-12 .block:nth-child(12n + 3) {
    margin-left: 16.94915%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-12 .block:nth-child(12n + 4) {
    margin-left: 25.42373%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-12 .block:nth-child(12n + 5) {
    margin-left: 33.89831%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-12 .block:nth-child(12n + 6) {
    margin-left: 42.37288%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-12 .block:nth-child(12n + 7) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-12 .block:nth-child(12n + 8) {
    margin-left: 59.32203%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-12 .block:nth-child(12n + 9) {
    margin-left: 67.79661%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-12 .block:nth-child(12n + 10) {
    margin-left: 76.27119%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-12 .block:nth-child(12n + 11) {
    margin-left: 84.74576%;
    margin-right: -100%;
    clear: none;
  }
  .grid-block-12 .block:nth-child(12n + 12) {
    margin-left: 93.22034%;
    margin-right: -100%;
    clear: none;
  }
}
/*
[class*="grid-block-"] .block {
  border: 1px solid #ccc;
  background: #eee;
  padding: 20px;
  margin-bottom: 20px;
}
*/
/*# sourceMappingURL=shortcodes.css.map */