/**
 * Tables
 *  - inlcudes all table elements and table drag selectors.
 ========================================================================== */
table {
  padding: 0;
  width: 100%;
  border: 1px solid #dcdcdc;
}
table.sticky-header {
  z-index: 10;
}
table caption {
  font-size: 18px;
  font-size: 1.1459rem;
  line-height: 24px;
  line-height: 1.5rem;
}
table .view-table__details {
  padding: 0;
  margin: 0 0 16px;
  margin: 0 0 1rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}
table .view-table__details,
table .view-table__details--summary {
  border: 0;
}
table .view-table__details--description {
  font-style: italic;
}

tr {
  border: 1px solid #dcdcdc;
}

thead tr {
  font-weight: 600;
  color: #363636;
  background-color: #eeeeee;
}
thead .active img {
  display: inline;
}

tr,
td,
th {
  border-style: solid;
  border-color: #dcdcdc;
}

td,
th {
  padding: 7px;
  padding: 0.43769rem;
  vertical-align: middle;
  border-width: 0;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
tr.drag {
  background-color: #fffff1;
}
tr.drag-previous {
  background-color: #ffd;
}

a.tabledrag-handle .handle {
  height: auto;
  margin: -0.2em 0.5em 0;
  width: auto;
}

body div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
}

/**
 * TableSelect behavior.
 *
 * @see tableselect.js
*/
tr.selected td {
  background: #ffc;
}

td.checkbox,
th.checkbox {
  text-align: center;
}
