/**
 * Views.
 */
.views-row {
  *zoom: 1;
}
.views-row:before, .views-row:after {
  content: "";
  display: table;
}
.views-row:after {
  clear: both;
}

.views-view-grid .views-col {
  padding-right: 18px;
  padding-right: 1.1459rem;
  margin-bottom: 18px;
  margin-bottom: 1.1459rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.views-view-grid .views-col:last-child {
  padding-right: 0;
}
