.twocol-7-5 .active-region-count--2 .region {
  width: 57.6271186%;
  float: left;
  margin-right: 1.6949153%;
}
.twocol-7-5 .active-region-count--2 .region:last-child {
  width: 40.6779661%;
  float: right;
  margin-right: 0;
}
