.twocol-2-10 .active-region-count--2 .region {
  width: 15.2542373%;
  float: left;
  margin-right: 1.6949153%;
}
.twocol-2-10 .active-region-count--2 .region:last-child {
  width: 83.0508475%;
  float: right;
  margin-right: 0;
}
