.twocol-9-3 .active-region-count--2 .region {
  width: 74.5762712%;
  float: left;
  margin-right: 1.6949153%;
}
.twocol-9-3 .active-region-count--2 .region:last-child {
  width: 23.7288136%;
  float: right;
  margin-right: 0;
}
