.twocol-3-9 .active-region-count--2 .region {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
.twocol-3-9 .active-region-count--2 .region:last-child {
  width: 74.57627%;
  float: right;
  margin-right: 0;
}
