/**
 * Shortcodes (Positioning)
 ============================================================================ */

.horizontal-center,
.center-element {
  margin-left: auto;
  margin-right: auto;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

@media #{$wide} {
  .pull-right,
  [dir="rtl"] .pull-left {
    float: right;
  }

  .pull-left,
  [dir="rtl"] .pull-right {
    float: left;
  }
}

.position-relative {
  position: relative;
}

.position-static {
  position: static;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

