/* line 4, ../sass/_appearance.global.scss */
#system-theme-settings .vertical-tabs,
#system-theme-settings .form-type-vertical-tabs {
  margin: 0;
  padding: 0;
  clear: both;
}

/* line 12, ../sass/_appearance.global.scss */
#system-theme-settings .form-actions {
  background: none repeat scroll 0 0 #fcfcfa;
  border-top: 1px solid #bfbfba;
  clear: both;
  margin: 0;
  padding: 1em 0.5em;
  position: relative;
  z-index: 10;
}

/* line 23, ../sass/_appearance.global.scss */
details > .details-wrapper {
  padding: 0;
}

/* line 27, ../sass/_appearance.global.scss */
#block-seven-help,
legend {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}

/* line 32, ../sass/_appearance.global.scss */
fieldset {
  margin: 0;
  border: 0;
}

/* line 37, ../sass/_appearance.global.scss */
#system-theme-settings label {
  margin: 0 0 3px;
}

/* line 42, ../sass/_appearance.global.scss */
.form-type-vertical-tabs fieldset {
  padding: 0;
}

/* line 47, ../sass/_appearance.global.scss */
details {
  margin: 0.5em 0;
  border-radius: 4px;
  background: #FCFCFA;
}
/* line 52, ../sass/_appearance.global.scss */
details details {
  background: inherit;
}

/* line 57, ../sass/_appearance.global.scss */
blockquote {
  border-left: 10px solid #A6A5A1;
  padding-left: 10px;
}

/* line 62, ../sass/_appearance.global.scss */
code, pre, kbd {
  font-size: 1em !important;
}

/* line 66, ../sass/_appearance.global.scss */
code {
  font-weight: 700;
}

/* line 70, ../sass/_appearance.global.scss */
pre code {
  font-weight: 400;
  padding: 0;
  margin: 0;
}

/* line 76, ../sass/_appearance.global.scss */
pre.code-block {
  background: #F5F5F2;
  border: 1px solid #ccc;
  font-weight: 400;
  margin: 0;
  padding: 20px;
  border-radius: 4px;
}

/* line 91, ../sass/_appearance.global.scss */
.subsystem-enabled-container {
  box-sizing: border-box;
  float: right;
  margin-top: -1.75em;
  padding: 0;
}
/* line 97, ../sass/_appearance.global.scss */
.subsystem-enabled-container .form-type-checkbox {
  display: block;
  float: right;
  margin: 0;
  padding-right: 10px;
}

/* line 105, ../sass/_appearance.global.scss */
.layouts-column {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

@media all and (min-width: 60em) {
  /* line 116, ../sass/_appearance.global.scss */
  #system-theme-settings .layouts-column {
    float: left;
  }
  /* line 120, ../sass/_appearance.global.scss */
  #system-theme-settings .layouts-column-onethird {
    width: 34%;
  }
  /* line 124, ../sass/_appearance.global.scss */
  #system-theme-settings .layouts-column-twothirds {
    width: 66%;
  }
  /* line 128, ../sass/_appearance.global.scss */
  #system-theme-settings .layouts-column-onequarter {
    width: 25%;
  }
  /* line 132, ../sass/_appearance.global.scss */
  #system-theme-settings .layouts-column-half {
    width: 50%;
  }
  /* line 136, ../sass/_appearance.global.scss */
  #system-theme-settings .layouts-column-threequarters {
    width: 75%;
  }
  /* line 140, ../sass/_appearance.global.scss */
  #system-theme-settings .column-select-layouts {
    border-right: 1px solid #BFBFBA;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
  /* line 146, ../sass/_appearance.global.scss */
  #system-theme-settings .css-layout-options {
    float: right;
  }
}
/* line 4, ../sass/_appearance.layouts.scss */
#edit-layouts {
  padding: 0;
  overflow: hidden;
}
/* line 9, ../sass/_appearance.layouts.scss */
#edit-layouts .form-disabled,
#edit-layouts .layouts-column.form-disabled {
  background: #f5f5f2;
}
/* line 13, ../sass/_appearance.layouts.scss */
#edit-layouts .form-disabled label, #edit-layouts .form-disabled h2, #edit-layouts .form-disabled h3, #edit-layouts .form-disabled p, #edit-layouts .form-disabled div, #edit-layouts .form-disabled a, #edit-layouts .form-disabled span, #edit-layouts .form-disabled em, #edit-layouts .form-disabled li, #edit-layouts .form-disabled td, #edit-layouts .form-disabled th,
#edit-layouts .layouts-column.form-disabled label,
#edit-layouts .layouts-column.form-disabled h2,
#edit-layouts .layouts-column.form-disabled h3,
#edit-layouts .layouts-column.form-disabled p,
#edit-layouts .layouts-column.form-disabled div,
#edit-layouts .layouts-column.form-disabled a,
#edit-layouts .layouts-column.form-disabled span,
#edit-layouts .layouts-column.form-disabled em,
#edit-layouts .layouts-column.form-disabled li,
#edit-layouts .layouts-column.form-disabled td,
#edit-layouts .layouts-column.form-disabled th {
  color: #737373;
}
/* line 17, ../sass/_appearance.layouts.scss */
#edit-layouts .form-disabled *:hover,
#edit-layouts .layouts-column.form-disabled *:hover {
  background: #f5f5f2;
}
/* line 21, ../sass/_appearance.layouts.scss */
#edit-layouts .form-disabled *:before,
#edit-layouts .form-disabled img,
#edit-layouts .layouts-column.form-disabled *:before,
#edit-layouts .layouts-column.form-disabled img {
  opacity: 0.5;
}
/* line 29, ../sass/_appearance.layouts.scss */
#edit-layouts #edit-layouts-enable-container label,
#edit-layouts #edit-layouts-enable-container .form-disabled {
  background: transparent !important;
}
/* line 37, ../sass/_appearance.layouts.scss */
#edit-layouts #edit-adv-options .details-wrapper {
  padding: 0.5em 1em;
}
/* line 41, ../sass/_appearance.layouts.scss */
#edit-layouts #edit-adv-options #edit-selectors details .details-wrapper {
  padding: 0;
}
/* line 45, ../sass/_appearance.layouts.scss */
#edit-layouts #edit-adv-options pre {
  background: #f5f5f2;
  border-top: 1px solid #ccc;
  font-weight: 400;
  margin: 0;
  padding: 1em 0.5em;
}
/* line 54, ../sass/_appearance.layouts.scss */
#edit-layouts #edit-settings-max-width-value {
  max-width: 6em;
}
/* line 58, ../sass/_appearance.layouts.scss */
#edit-layouts .submit--layout {
  background: #f7fcff;
  border-top: 1px solid #bfbfba;
  clear: both;
  margin: 0;
  padding: 1em 0.5em;
  position: relative;
  z-index: 10;
}
/* line 68, ../sass/_appearance.layouts.scss */
#edit-layouts h2,
#edit-layouts h3,
#edit-layouts h4,
#edit-layouts h5 {
  font-size: 1em;
  text-transform: uppercase;
}
/* line 76, ../sass/_appearance.layouts.scss */
#edit-layouts .fieldset-wrapper {
  overflow: hidden;
}
/* line 80, ../sass/_appearance.layouts.scss */
#edit-layouts #edit-settings-layouts-disabled {
  font-size: 0.923em;
  line-height: 1.295em;
  color: #777;
}
/* line 86, ../sass/_appearance.layouts.scss */
#edit-layouts .form-item-settings-layouts-enable {
  margin: 0;
}
/* line 90, ../sass/_appearance.layouts.scss */
#edit-layouts .layouts-column {
  border-top: 1px solid #bfbfba;
  margin-top: 0;
}
/* line 96, ../sass/_appearance.layouts.scss */
#edit-layouts .layouts-column-two details {
  border: 0 none;
  margin: 0;
}
/* line 102, ../sass/_appearance.layouts.scss */
#edit-layouts .breakpoint-group-values {
  margin: 0;
  padding: 0;
  font-size: 0.923em;
  line-height: 1.295em;
  color: #666;
}
/* line 111, ../sass/_appearance.layouts.scss */
#edit-layouts dl dt {
  font-weight: 700;
}
/* line 115, ../sass/_appearance.layouts.scss */
#edit-layouts dl dd {
  margin: 0;
  margin-bottom: 0.5em;
}
/* line 121, ../sass/_appearance.layouts.scss */
#edit-layouts .column-select-layouts {
  clear: right;
}
/* line 129, ../sass/_appearance.layouts.scss */
#edit-layouts #edit-layout-select fieldset {
  background: none repeat scroll 0 0 transparent;
  line-height: 1;
  margin: 0 0 10px;
  padding: 0;
}
@media all and (min-width: 60em) {
  /* line 137, ../sass/_appearance.layouts.scss */
  #edit-layouts #edit-layout-select .form-type-select {
    width: 75%;
    float: left;
    margin: 0;
    padding: 0;
  }
  /* line 143, ../sass/_appearance.layouts.scss */
  #edit-layouts #edit-layout-select .form-type-select label {
    float: left;
    width: 10em;
  }
}
/* line 150, ../sass/_appearance.layouts.scss */
#edit-layouts #edit-layout-select details .details-wrapper {
  padding: 10px;
}
/* line 154, ../sass/_appearance.layouts.scss */
#edit-layouts #edit-layout-select details details {
  margin: 10px 0;
  border: 0;
  padding: 0;
}
/* line 161, ../sass/_appearance.layouts.scss */
#edit-layouts #edit-layout-select .css-layout-options .region {
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 1.69492%;
  -webkit-transition: all, .15s, ease-in;
          transition: all, .15s, ease-in;
}
/* line 167, ../sass/_appearance.layouts.scss */
#edit-layouts #edit-layout-select .css-layout-options .region span {
  display: block;
  background-color: #b2b2b2;
  font-size: 0.8rem;
  height: 1.5em;
  padding: 0.3em 0 0 0.45em;
  color: #f5f5f5;
}

/* line 181, ../sass/_appearance.layouts.scss */
#edit-suggestions {
  background: #f7fcff;
}
/* line 184, ../sass/_appearance.layouts.scss */
#edit-suggestions label {
  padding-bottom: 10px;
}
/* line 188, ../sass/_appearance.layouts.scss */
#edit-suggestions .description {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
  font-family: inherit;
  line-height: normal;
  font-size: 1em;
  font-size: 0.9em;
  margin-top: 20px;
}
/* line 194, ../sass/_appearance.layouts.scss */
#edit-suggestions ol {
  margin: 0;
  padding: 0 0 0 20px;
}

/* line 201, ../sass/_appearance.layouts.scss */
#edit-options,
.form-item-layout-suggestion,
#edit-no-mq-css {
  clear: both;
}

/* line 209, ../sass/_appearance.layouts.scss */
#edit-options .form-disabled {
  background: #f7f7f7;
  margin: 0;
  padding: 1em 0;
}

/* line 218, ../sass/_appearance.layouts.scss */
#edit-max-width .form-item-settings-max-width-value,
#edit-max-width .form-item-settings-max-width-unit {
  display: inline-block;
  margin-right: 3px;
}

@media (max-width: 48em) {
  /* line 228, ../sass/_appearance.layouts.scss */
  #edit-layouts .form-radios label {
    max-width: 120px;
  }
}
@media (max-width: 56em) {
  /* line 235, ../sass/_appearance.layouts.scss */
  #edit-default-layout {
    float: none;
    clear: both;
    margin: 0;
    padding: 0 0 10px;
  }
}
/* line 5, ../sass/_appearance.extensions.scss */
#edit-extensions > .details-wrapper {
  padding: 0;
}
/* line 9, ../sass/_appearance.extensions.scss */
#edit-extensions details .details-wrapper {
  padding: 0.35em 0.65em 0.75em;
}
/* line 13, ../sass/_appearance.extensions.scss */
#edit-extensions .vertical-tabs {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
/* line 20, ../sass/_appearance.extensions.scss */
#edit-extensions .vertical-tabs-list {
  width: 25%;
}
/* line 23, ../sass/_appearance.extensions.scss */
#edit-extensions .vertical-tabs-panes {
  margin: 0 0 0 25%;
}

/* line 34, ../sass/_appearance.extensions.scss */
#edit-fonts .form-type-number input {
  max-width: 6em;
}

/* Image alignment options */
/* line 44, ../sass/_appearance.extensions.scss */
#edit-image-settings .description,
#edit-image-settings .form-type-radios {
  clear: both;
}
/* line 50, ../sass/_appearance.extensions.scss */
#edit-image-settings details details {
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 56, ../sass/_appearance.extensions.scss */
#edit-image-settings details fieldset legend {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
  font-family: inherit;
  line-height: normal;
  font-size: 1em;
  padding: 0 0 15px;
}
/* line 63, ../sass/_appearance.extensions.scss */
#edit-image-settings .form-type-radios label {
  margin-bottom: 5px;
}
/* line 69, ../sass/_appearance.extensions.scss */
#edit-image-settings .form-type-radio {
  clear: none;
  float: left;
  margin: 0 30px 10px 0;
  text-align: center;
  width: 50px;
}
/* line 76, ../sass/_appearance.extensions.scss */
#edit-image-settings .form-type-radio input.form-radio {
  margin-bottom: 4px;
}
/* line 80, ../sass/_appearance.extensions.scss */
#edit-image-settings .form-type-radio label {
  background-image: url(image-alignment-sprite.png);
  background-repeat: no-repeat;
  display: table-cell;
  font-size: 0.8em;
  height: 80px;
  text-align: center;
  vertical-align: bottom;
  width: 50px;
}
/* line 90, ../sass/_appearance.extensions.scss */
#edit-image-settings .form-type-radio label[for$=-none] {
  background-position: 0 0;
}
/* line 91, ../sass/_appearance.extensions.scss */
#edit-image-settings .form-type-radio label[for$=-left] {
  background-position: -50px 0;
}
/* line 92, ../sass/_appearance.extensions.scss */
#edit-image-settings .form-type-radio label[for$=-center] {
  background-position: -100px 0;
}
/* line 93, ../sass/_appearance.extensions.scss */
#edit-image-settings .form-type-radio label[for$=-right] {
  background-position: -150px 0;
}

/* line 104, ../sass/_appearance.extensions.scss */
#edit-titles details label {
  display: inline-block;
  width: 8em;
}

/* line 116, ../sass/_appearance.extensions.scss */
#edit-touch-icons-settings .form-type-textfield {
  margin-bottom: 20px;
}
/* line 120, ../sass/_appearance.extensions.scss */
#edit-touch-icons-settings label {
  margin-bottom: 5px;
}
/* line 124, ../sass/_appearance.extensions.scss */
#edit-touch-icons-settings .field-prefix {
  color: #666;
}

/* line 138, ../sass/_appearance.extensions.scss */
#edit-block-classes label span {
  font-weight: 400;
}

/* line 145, ../sass/_appearance.extensions.scss */
#edit-classes dt {
  font-weight: bold;
}
@media screen and (min-width: 75em) {
  /* line 150, ../sass/_appearance.extensions.scss */
  #edit-classes dl.class-list dt {
    float: left;
    clear: left;
    text-align: left;
    width: 30%;
  }
  /* line 156, ../sass/_appearance.extensions.scss */
  #edit-classes dl.class-list dd {
    margin-left: 35%;
    overflow: hidden;
  }
}

/* line 168, ../sass/_appearance.extensions.scss */
#edit-devel label {
  font-weight: bold;
}
/* line 172, ../sass/_appearance.extensions.scss */
#edit-devel .description {
  color: #777;
}
/* line 176, ../sass/_appearance.extensions.scss */
#edit-devel .details-wrapper {
  padding: 0.35em 0.65em 0.75em;
}

/* line 2, ../sass/_appearance.basic.scss */
#edit-basic-settings {
  overflow: hidden;
  padding: 0;
}
/* line 6, ../sass/_appearance.basic.scss */
#edit-basic-settings details {
  margin-left: 0.625em;
  margin-right: 0.625em;
}
/* line 10, ../sass/_appearance.basic.scss */
#edit-basic-settings details .details-wrapper {
  padding: 10px;
}

/* line 16, ../sass/_appearance.basic.scss */
.theme-settings-bottom {
  clear: none;
}

/* line 22, ../sass/_appearance.basic.scss */
#edit-jquery .form-type-checkbox .description {
  font-size: 0.8em;
}

/* line 29, ../sass/_appearance.basic.scss */
#edit-drupal-core .form-type-checkbox {
  margin-bottom: 0;
}
/* line 33, ../sass/_appearance.basic.scss */
#edit-drupal-core small {
  display: block;
  margin-left: 2em;
}
/* line 37, ../sass/_appearance.basic.scss */
#edit-drupal-core small:before {
  content: "- ";
}

/* line 7, ../sass/_appearance.help.scss */
#edit-help h1,
#edit-subtheme-help h1 {
  font-size: 1.25em;
  text-transform: uppercase;
}
/* line 12, ../sass/_appearance.help.scss */
#edit-help h2, #edit-help h3, #edit-help h4,
#edit-subtheme-help h2,
#edit-subtheme-help h3,
#edit-subtheme-help h4 {
  margin: 2em 0 0;
  padding-bottom: 0;
  font-size: 1em;
  text-transform: uppercase;
}
/* line 19, ../sass/_appearance.help.scss */
#edit-help ol, #edit-help ul,
#edit-subtheme-help ol,
#edit-subtheme-help ul {
  margin-bottom: 1em;
  padding: 0;
}

/* line 25, ../sass/_appearance.help.scss */
#edit-help-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 31, ../sass/_appearance.help.scss */
.status-block {
  float: right;
  width: 200px;
  padding: 10px;
  margin: 0 0 10px 20px;
}
/* line 37, ../sass/_appearance.help.scss */
.status-block.warning {
  background: #FDF8ED;
  color: #734C00;
}
/* line 44, ../sass/_appearance.help.scss */
.status-block.status {
  background: #f3faef;
  color: #325e1c;
}
/* line 52, ../sass/_appearance.help.scss */
.status-block h2 {
  font-size: 1em !important;
}
/* line 56, ../sass/_appearance.help.scss */
.status-block p, .status-block h2 {
  margin: 0 !important;
  padding: 0 !important;
}

/* line 3, ../sass/_appearance.color.scss */
#color_scheme_form h2,
#color_scheme_form #preview {
  display: none !important;
}
/* line 8, ../sass/_appearance.color.scss */
#color_scheme_form .form-type-select {
  margin-left: 20px;
}
/* line 12, ../sass/_appearance.color.scss */
#color_scheme_form .color-form {
  max-width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 18, ../sass/_appearance.color.scss */
#color_scheme_form .color-form label {
  background: #f2f2f0;
  border-bottom: 1px solid #eee;
  clear: left;
  float: left;
  margin: 0 0.5em 0 0 !important;
  padding: 0.35em;
  width: 20em;
}
/* line 29, ../sass/_appearance.color.scss */
#color_scheme_form #placeholder {
  left: 45em;
  position: absolute;
  width: 195px;
  z-index: 100;
  float: none;
}
/* line 37, ../sass/_appearance.color.scss */
#color_scheme_form #palette {
  min-height: 195px;
  margin: 0 0 0 20px;
}

@media all and (max-width: 66em) {
  /* line 46, ../sass/_appearance.color.scss */
  #color_scheme_form #placeholder {
    float: none;
    left: auto;
    margin: 20px auto;
    position: static;
  }
  /* line 53, ../sass/_appearance.color.scss */
  #color_scheme_form #palette {
    min-height: 0;
    margin: 0 0 0 20px;
  }
}

/*# sourceMappingURL=appearance.css.map */