#system-theme-settings .vertical-tabs, #system-theme-settings .form-type-vertical-tabs { margin: 0; padding: 0; clear: both; }

#system-theme-settings .form-actions { background: none repeat scroll 0 0 #fcfcfa; border-top: 1px solid #bfbfba; clear: both; margin: 0; padding: 1em 0.5em; position: relative; z-index: 10; }

details > .details-wrapper { padding: 0; }

#block-seven-help, legend { position: absolute !important; clip: rect(1px, 1px, 1px, 1px); overflow: hidden; height: 1px; width: 1px; padding: 0; word-wrap: normal; font: 0/0 a; }

fieldset { margin: 0; border: 0; }

#system-theme-settings label { margin: 0 0 3px; }

.form-type-vertical-tabs fieldset { padding: 0; }

details { margin: 0.5em 0; border-radius: 4px; background: #FCFCFA; }
details details { background: inherit; }

blockquote { border-left: 10px solid #A6A5A1; padding-left: 10px; }

code, pre, kbd { font-size: 1em !important; }

code { font-weight: 700; }

pre code { font-weight: 400; padding: 0; margin: 0; }

pre.code-block { background: #F5F5F2; border: 1px solid #ccc; font-weight: 400; margin: 0; padding: 20px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.subsystem-enabled-container { box-sizing: border-box; float: right; margin-top: -1.75em; padding: 0; }
.subsystem-enabled-container .form-type-checkbox { display: block; float: right; margin: 0; padding-right: 10px; }

.layouts-column { border: 0; margin: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media all and (min-width: 60em) { #system-theme-settings .layouts-column { float: left; }
  #system-theme-settings .layouts-column-onethird { width: 34%; }
  #system-theme-settings .layouts-column-twothirds { width: 66%; }
  #system-theme-settings .layouts-column-onequarter { width: 25%; }
  #system-theme-settings .layouts-column-half { width: 50%; }
  #system-theme-settings .layouts-column-threequarters { width: 75%; }
  #system-theme-settings .column-select-layouts { border-right: 1px solid #BFBFBA; margin-bottom: -99999px; padding-bottom: 99999px; }
  #system-theme-settings .css-layout-options { float: right; } }
#edit-layouts { padding: 0; overflow: hidden; }
#edit-layouts .form-disabled, #edit-layouts .layouts-column.form-disabled { background: #f5f5f2; }
#edit-layouts .form-disabled label, #edit-layouts .form-disabled h2, #edit-layouts .form-disabled h3, #edit-layouts .form-disabled p, #edit-layouts .form-disabled div, #edit-layouts .form-disabled a, #edit-layouts .form-disabled span, #edit-layouts .form-disabled em, #edit-layouts .form-disabled li, #edit-layouts .form-disabled td, #edit-layouts .form-disabled th, #edit-layouts .layouts-column.form-disabled label, #edit-layouts .layouts-column.form-disabled h2, #edit-layouts .layouts-column.form-disabled h3, #edit-layouts .layouts-column.form-disabled p, #edit-layouts .layouts-column.form-disabled div, #edit-layouts .layouts-column.form-disabled a, #edit-layouts .layouts-column.form-disabled span, #edit-layouts .layouts-column.form-disabled em, #edit-layouts .layouts-column.form-disabled li, #edit-layouts .layouts-column.form-disabled td, #edit-layouts .layouts-column.form-disabled th { color: #737373; }
#edit-layouts .form-disabled *:hover, #edit-layouts .layouts-column.form-disabled *:hover { background: #f5f5f2; }
#edit-layouts .form-disabled *:before, #edit-layouts .form-disabled img, #edit-layouts .layouts-column.form-disabled *:before, #edit-layouts .layouts-column.form-disabled img { opacity: 0.5; }
#edit-layouts #edit-layouts-enable-container label, #edit-layouts #edit-layouts-enable-container .form-disabled { background: transparent !important; }
#edit-layouts #edit-adv-options .details-wrapper { padding: 0.5em 1em; }
#edit-layouts #edit-adv-options #edit-selectors details .details-wrapper { padding: 0; }
#edit-layouts #edit-adv-options pre { background: #F5F5F2; border-top: 1px solid #ccc; font-weight: 400; margin: 0; padding: 1em 0.5em; }
#edit-layouts #edit-settings-max-width-value { max-width: 6em; }
#edit-layouts .submit--layout { background: #FCFCFA; border-top: 1px solid #BFBFBA; clear: both; margin: 0; padding: 1em 0.5em; position: relative; z-index: 10; }
#edit-layouts h2, #edit-layouts h3, #edit-layouts h4, #edit-layouts h5 { font-size: 1em; text-transform: uppercase; }
#edit-layouts .fieldset-wrapper { overflow: hidden; }
#edit-layouts #edit-settings-layouts-disabled { font-size: 0.923em; line-height: 1.295em; color: #777; }
#edit-layouts .form-item-settings-layouts-enable { margin: 0; }
#edit-layouts .layouts-column { border-top: 1px solid #BFBFBA; margin-top: 0; }
#edit-layouts .layouts-column-two details { border: 0 none; margin: 0; }
#edit-layouts .breakpoint-group-values { margin: 0; padding: 0; font-size: 0.923em; line-height: 1.295em; color: #666; }
#edit-layouts dl dt { font-weight: 700; }
#edit-layouts dl dd { margin: 0; margin-bottom: 0.5em; }
#edit-layouts .column-select-layouts { clear: right; }
#edit-layouts #edit-layout-select fieldset { background: none repeat scroll 0 0 transparent; line-height: 1; margin: 0 0 10px; padding: 0; }
@media all and (min-width: 60em) { #edit-layouts #edit-layout-select .form-type-select { width: 75%; float: left; margin: 0; padding: 0; }
  #edit-layouts #edit-layout-select .form-type-select label { float: left; width: 10em; } }
#edit-layouts #edit-layout-select details .details-wrapper { padding: 10px; }
#edit-layouts #edit-layout-select details details { margin: 10px 0; border: 0; padding: 0; }
#edit-layouts #edit-layout-select .css-layout-options .region { box-sizing: border-box; text-align: left; margin-bottom: 1.69492%; -moz-transition: all, 0.2s, ease-in; -o-transition: all, 0.2s, ease-in; -webkit-transition: all, 0.2s, ease-in; transition: all, 0.2s, ease-in; }
#edit-layouts #edit-layout-select .css-layout-options .region span { display: block; background-color: #B2B2B2; font-size: 0.8rem; height: 1.5em; padding: 0.3em 0 0 0.45em; color: #F5F5F5; }

/*
// Manage suggestions
#edit-manage-suggestions { border: 0; padding: 0; margin: 0;
}

// The select all input is not disabled by #states, just hide it for now.
.table-suggestions { .select-all input { display: none; }
}

.form-item-layout-type-select { display: inline;
}

#edit-default-not-set,
#edit-default-set,
#edit-none-set { border-top: 1px solid #BFBFBA; border-bottom: 1px solid #BFBFBA; margin: 10px 0 20px; padding: 10px;
}
*/
/*
#edit-default-not-set { background-color: #fcf4f2; color: #a51b00;
}
*/
/*
#edit-none-set { background-color: #f3faef; color: #325e1c;
}

// warning
#edit-default-set { background: #F7FCFF;
 ol { margin: 10px 0 0 0; padding: 0 0 0 20px; }
 ol, p { font-size: 0.923em; line-height: 1.231em; }
}
*/
#edit-suggestions { background: #F7FCFF; }
#edit-suggestions label { padding-bottom: 10px; }
#edit-suggestions .description { position: static !important; clip: auto; overflow: visible; height: auto; width: auto; font-family: inherit; font-size: 1em; line-height: normal; font-size: 0.9em; margin-top: 20px; }
#edit-suggestions ol { margin: 0; padding: 0 0 0 20px; }

#edit-options, .form-item-layout-suggestion, #edit-no-mq-css { clear: both; }

#edit-options .form-disabled { background: #f7f7f7; margin: 0; padding: 1em 0; }

#edit-max-width .form-item-settings-max-width-value, #edit-max-width .form-item-settings-max-width-unit { display: inline-block; margin-right: 3px; }

@media (max-width: 48em) { #edit-layouts .form-radios label { max-width: 120px; } }
@media (max-width: 56em) { #edit-default-layout { float: none; clear: both; margin: 0; padding: 0 0 10px; } }
#edit-extensions > .details-wrapper { padding: 0; }
#edit-extensions details .details-wrapper { padding: 0.35em 0.65em 0.75em; }
#edit-extensions .vertical-tabs { border-radius: 0; border-left: 0; border-right: 0; border-bottom: 0; }
#edit-extensions .vertical-tabs-list { width: 25%; }
#edit-extensions .vertical-tabs-panes { margin: 0 0 0 25%; }

#edit-fonts .form-type-number input { max-width: 6em; }

/* Image alignment options */
#edit-image-settings .description, #edit-image-settings .form-type-radios { clear: both; }
#edit-image-settings details details { border: 0; padding: 0; margin: 0; }
#edit-image-settings details fieldset legend { position: static !important; clip: auto; overflow: visible; height: auto; width: auto; font-family: inherit; font-size: 1em; line-height: normal; font-family: inherit; padding: 0 0 15px; }
#edit-image-settings .form-type-radios label { margin-bottom: 5px; }
#edit-image-settings .form-type-radio { clear: none; float: left; margin: 0 30px 10px 0; text-align: center; width: 50px; }
#edit-image-settings .form-type-radio input.form-radio { margin-bottom: 4px; }
#edit-image-settings .form-type-radio label { background-image: url(image-alignment-sprite.png); background-repeat: no-repeat; display: table-cell; font-size: 0.8em; height: 80px; margin-top: 0; margin-bottom: 0; text-align: center; vertical-align: bottom; width: 50px; }
#edit-image-settings .form-type-radio label[for$=-none] { background-position: 0 0; }
#edit-image-settings .form-type-radio label[for$=-left] { background-position: -50px 0; }
#edit-image-settings .form-type-radio label[for$=-center] { background-position: -100px 0; }
#edit-image-settings .form-type-radio label[for$=-right] { background-position: -150px 0; }

#edit-titles details label { display: inline-block; width: 8em; }

#edit-touch-icons-settings .form-type-textfield { margin-bottom: 20px; }
#edit-touch-icons-settings label { margin-bottom: 5px; }
#edit-touch-icons-settings .field-prefix { color: #666; }

#edit-responsive-menus .form-item-settings-responsive-menu-region, #edit-responsive-menus .form-item-settings-responsive-menu-breakpoint-group { float: left; margin-bottom: 2em; margin-right: 1.5em; }
#edit-responsive-menus .responsive-menu-styles, #edit-responsive-menus .responsive-menu-options { clear: none !important; width: 48%; }
#edit-responsive-menus .clearfix { border-top: 1px solid #ccc; }
#edit-responsive-menus select { max-width: 18em; }
#edit-responsive-menus .responsive-menu-styles { float: left; }
#edit-responsive-menus .responsive-menu-styles .form-type-select { margin: 1em 0 2em; }
#edit-responsive-menus .responsive-menu-options { float: right; background: #F5F5F5; padding: 1em; }
#edit-responsive-menus .responsive-menu-options fieldset fieldset legend { display: none; }
#edit-responsive-menus .responsive-menu-options fieldset fieldset legend:after { content: ""; }

#edit-block-classes label span { font-weight: 400; }

#edit-classes dt { font-weight: bold; }
@media screen and (min-width: 75em) { #edit-classes dl.class-list dt { float: left; clear: left; text-align: left; width: 30%; }
  #edit-classes dl.class-list dd { margin-left: 35%; overflow: hidden; } }

#edit-devel label { font-weight: bold; }
#edit-devel .description { position: static !important; clip: auto; overflow: visible; height: auto; width: auto; font-family: inherit; font-size: 1em; line-height: normal; color: #777; font-size: 0.9em; }
#edit-devel .details-wrapper { padding: 0.35em 0.65em 0.75em; }

#edit-basic-settings { overflow: hidden; padding: 0; }
#edit-basic-settings details { margin-left: 0.625em; margin-right: 0.625em; }
#edit-basic-settings details .details-wrapper { padding: 10px; }

.theme-settings-bottom { clear: none; }

#edit-jquery .form-type-checkbox .description { font-size: 0.8em; }

#edit-drupal-core .form-type-checkbox { margin-bottom: 0; }
#edit-drupal-core small { display: block; margin-left: 2em; }
#edit-drupal-core small:before { content: "- "; }

#edit-help h1, #edit-subtheme-help h1 { font-size: 1.25em; text-transform: uppercase; }
#edit-help h2, #edit-help h3, #edit-help h4, #edit-subtheme-help h2, #edit-subtheme-help h3, #edit-subtheme-help h4 { margin: 2em 0 0; padding-bottom: 0; font-size: 1em; text-transform: uppercase; }
#edit-help ol, #edit-help ul, #edit-subtheme-help ol, #edit-subtheme-help ul { margin-bottom: 1em; padding: 0; }

#edit-help-menu li { list-style: none; margin: 0; padding: 0; }

.status-block { float: right; width: 200px; padding: 10px; margin: 0 0 10px 20px; }
.status-block.warning { background: #FDF8ED; color: #734C00; }
.status-block.status { background: #f3faef; color: #325e1c; }
.status-block h2 { font-size: 1em !important; }
.status-block p, .status-block h2 { margin: 0 !important; padding: 0 !important; }

#color_scheme_form h2, #color_scheme_form #preview { display: none !important; }
#color_scheme_form .form-type-select { margin-left: 20px; }
#color_scheme_form .color-form { max-width: 100%; margin: 0; padding: 0; position: relative; }
#color_scheme_form .color-form label { background: #f2f2f0; border-bottom: 1px solid #eee; clear: left; float: left; margin: 0 0.5em 0 0 !important; padding: 0.35em; width: 20em; }
#color_scheme_form #placeholder { left: 45em; position: absolute; width: 195px; z-index: 100; float: none; }
#color_scheme_form #palette { min-height: 195px; margin: 0 0 0 20px; }

@media all and (max-width: 66em) { #color_scheme_form #placeholder { float: none; left: auto; margin: 20px auto; position: static; }
  #color_scheme_form #palette { min-height: none; margin: 0 0 0 20px; } }
