/* $Id$ */
/* adaptivethemes.com */

/**
 * AdaptiveTheme layout methods
 * 
 * @file      layout.css
 * @author    Jeff Burnz
 */
	
/*********************************************************

*--// Setting up the Sidebar Layout:
  
  In your subthemes page.tpl.php replace the body id="layout-1b" 
  with your chosen layout:
  
  e.g. id="layout-2c" (see below for all layout options).
  
  
  There are 3 main sidebar layouts and each has 3 unit variants:
	
  i. A layout controls the position of the sidebars:
  
     layout-1  -  Left  |  Content  |  Right  (standard 3 column)
     layout-2  -  Content  |  Left  |  Right  (two sidebars on the right)
     layout-3  -  Left  |  Right  |  Content  (two sidebars on the left)
  
  
  ii.Each variant uses a different relative unit (em, percentage or pixel):
  
     a variants are em's (elastic sidebars)
     b variants are percentages (fluid sidebars)
     c variants are pixels (fixed width sidebars)
     

  All layout variations:
  
  layout-1a  -  Left (20em)  |  Content  |  Right (20em)
  layout-1b  -  Left (25%)   |  Content  |  Right (25%)
  layout-1c  -  Left (240px) |  Content  |  Right (240px)
		
  layout-2a  -  Content  |  Left (20em)  |  Right (20em)
  layout-2b  -  Content  |  Left (25%)   |  Right (25%)
  layout-2c  -  Content  |  Left (240px) |  Right (240px)
		
  layout-3a  -  Left (20em)  |  Right (20em)  |  Content
  layout-3b  -  Left (25%)   |  Right (25%)   |  Content
  layout-3c  -  Left (240px) |  Right (240px) |  Content


*--// How to Modify a Layout:

  Copy it to the page.css file and modify it there.
  Changing it here will not work since this file is for example 
  only.
  
  Note: examples can be found in the layout-examples.css file.


*--// How to set the Width:

  The overall width is set on the #container div in page.css.
  See you subthemes page.css, around line 106. All layouts can
  be elastic, fluid or fixed width.
	

*--// Tip:

  If your site uses a page-front.tpl.php or any other page
  template suggestion your site can have multiple layouts.
		

/*********************************************************

  Layout 1
   
  The layout-1 layout is a standard 3 column layout, i.e.
			
  Left | Content | Right
			
  There are 3 variants that use one of Ems, Percentages or 
  Pixels to set the widths and margins:
			
  #layout-1a - Ems (elastic sidebars)
  #layout-1b - Percentages (fluid sidebars)
  #layout-1c - Pixels (fixed sidebars)
 
*********************************************************/
/**
 * #layout-1a
 * Unit:   em
 * Layout: Standard 3 col - left/content/right
 */
.two-sidebars .content-inner{margin:0 20em;}
.sidebar-left .content-inner{margin-left:20em;}
.sidebar-right .content-inner{margin-right:20em;}
#sidebar-first{width:20em;margin-left:-100%;}
#sidebar-last{width:20em;margin-left:-20em;}

/**
 * #layout-1b
 * Unit:   %
 * Layout: Standard 3 col - left/content/right
 */
.two-sidebars .content-inner{margin:0 25%;}
.sidebar-left .content-inner{margin-left:25%;}
.sidebar-right .content-inner{margin-right:25%;}
#sidebar-first{width:25%;margin-left:-100%;}
#sidebar-last{width:25%;margin-left:-25%;}

/**
 * #layout-1c
 * Unit:   px
 * Layout: Standard 3 col; left/content/right
 */
.two-sidebars .content-inner{margin:0 240px;}
.sidebar-left .content-inner{margin-left:240px;}
.sidebar-right .content-inner{margin-right:240px;}
#sidebar-first{width:240px;margin-left:-100%;}
#sidebar-last{width:240px;margin-left:-240px;}


/*********************************************************
   
  Layout 2
   
  The layout-2 layouts postion both sidebars to the right
  of the main content column, i.e.
			
  Content | Left | Right
			
  There are 3 variants that use one of Ems, Percentages or 
  Pixels to set the widths and margins:
			
  #layout-2a - Ems (elastic sidebars)
  #layout-2b - Percentages (fluid sidebars)
  #layout-2c - Pixels (fixed sidebars)
 
**********************************************************/
/**
 * #layout-2a
 * Unit:   em
 * Layout: Both sidebars on the right; content/left/right
 */
.two-sidebars .content-inner{margin-right:40em;}
.sidebar-left .content-inner{margin-right:20em;}
.sidebar-right .content-inner{margin-right:20em;}
#sidebar-first{width:20em;margin-left:-40em;}
#sidebar-last{width:20em;margin-left:-20em;}
.sidebar-left #sidebar-first{width:20em;margin-left:-20em;}

/**
 * #layout-2b
 * Unit:   %
 * Layout: Both sidebars on the right; content/left/right
 */
.two-sidebars .content-inner{margin-right:50%;}
.sidebar-left .content-inner{margin-right:25%;}
.sidebar-right .content-inner{margin-right:25%;}
#sidebar-first{width:25%;margin-left:-50%;}
#sidebar-last{width:25%;margin-left:-25%;}
.sidebar-left #sidebar-first{width:25%;margin-left:-25%;}

/**
 * #layout-2c
 * Unit:   px
 * Layout: Both sidebars on the right; content/left/right
 */
.two-sidebars .content-inner{margin-right:480px;}
.sidebar-left .content-inner{margin-right:240px;}
.sidebar-right .content-inner{margin-right:240px;}
#sidebar-first{width:240px;margin-left:-480px;}
#sidebar-last{width:240px;margin-left:-240px;}
.sidebar-left #sidebar-first{width:240px;margin-left:-240px;}


/*********************************************************
   
  Layout 3
   
  The layout-3 layouts postion both sidebars to the left
  of the main content column, i.e.
			
  Left | Right | Content
			
  There are 3 variants that use one of Ems, Percentages or 
  Pixels to set the widths and margins:
			
  #layout-3a - Ems (elastic sidebars)
  #layout-3b - Percentages (fluid sidebars)
  #layout-3c - Pixels (fixed sidebars)
 
**********************************************************/
/**
 * #layout-3a
 * Unit:   em
 * Layout: Both sidebars on the left - left/right/content
 */
.two-sidebars .content-inner{margin-left:40em;}
.sidebar-left .content-inner{margin-left:20em;}
.sidebar-right .content-inner{margin-left:20em;}
#sidebar-first{width:20em;margin-left:-100%;}
#sidebar-last{width:20em;margin-left:-100%;}
.two-sidebars #sidebar-last{width:20em;position:relative;left:20em;}

/**
 * #layout-3b
 * Unit:   %
 * Layout: Both sidebars on the left - left/right/content
 */
.two-sidebars .content-inner{margin-left:50%;}
.sidebar-left .content-inner{margin-left:25%;}
.sidebar-right .content-inner{margin-left:25%;}
#sidebar-first{width:25%;margin-left:-100%;}
#sidebar-last{width:25%;margin-left:-100%;}
.two-sidebars #sidebar-last{width:25%;position:relative;left:25%;}

/**
 * #layout-3c
 * Unit:   px
 * Layout: Both sidebars on the left - left/right/content
 */
.two-sidebars .content-inner{margin-left:480px;}
.sidebar-left .content-inner{margin-left:240px;}
.sidebar-right .content-inner{margin-left:240px;}
#sidebar-first{width:240px;margin-left:-100%;}
#sidebar-last{width:240px;margin-left:-100%;}
.two-sidebars #sidebar-last{width:240px;position:relative;left:240px;}

