@charset "utf-8";
/* $Id$ */
/* adaptivethemes.com */

/**
 * AdaptiveTheme layout rtl methods
 * 
 * @file      layout-rtl.css
 * @author    Jeff Burnz
 */

/*********************************************************

  Layout 1
   
  The layout-1 layout is a standard 3 column layout, i.e.
			
  Last | Content | First
			
  There are 3 variants that use one of Ems, Percentages or 
  Pixels to set the widths and margins:
			
  #layout-1a - Ems (elastic sidebars)
  #layout-1b - Percentages (fluid sidebars)
  #layout-1c - Pixels (fixed sidebars)
 
*********************************************************/
/**
 * #layout-1a
 */
.two-sidebars .content-inner{margin:0 20em;}
.sidebar-left .content-inner{margin-right:20em;margin-left:0;}
.sidebar-right .content-inner{margin-left:20em;margin-left:0;}
#sidebar-first{width:20em;margin-right:-100%;margin-left:0;}
#sidebar-last{width:20em;margin-right:-20em;margin-left:0;}

/**
 * #layout-1b
 */
.two-sidebars .content-inner{margin:0 25%;}
.sidebar-left .content-inner{margin-right:25%;}
.sidebar-right .content-inner{margin-left:25%;}
#sidebar-first{width:25%;margin-left:-100%;}
#sidebar-last{width:25%;margin-left:-25%;}

/**
 * #layout-1c
 */
.two-sidebars .content-inner{margin:0 240px;}
.sidebar-left .content-inner{margin-right:240px;margin-left:0;}
.sidebar-right .content-inner{margin-left:240px;margin-right:0;}
#sidebar-first{width:240px;margin-right:-100%;margin-left:0;}
#sidebar-last{width:240px;margin-right:-240px;margin-left:0;}


/*********************************************************
   
  Layout 2
   
  The layout-2 layouts postion both sidebars to the right
  of the main content column, i.e.
			
  Last | First | Content
			
  There are 3 variants that use one of Ems, Percentages or 
  Pixels to set the widths and margins:
			
  #layout-2a - Ems (elastic sidebars)
  #layout-2b - Percentages (fluid sidebars)
  #layout-2c - Pixels (fixed sidebars)
 
**********************************************************/
/**
 * #layout-2a
 */
.two-sidebars .content-inner{margin-left:40em;}
.sidebar-left .content-inner{margin-left:20em;}
.sidebar-right .content-inner{margin-left:20em;}
#sidebar-first{width:20em;margin-right:-40em;}
#sidebar-last{width:20em;margin-right:-20em;}
.sidebar-left #sidebar-first{width:20em;margin-right:-20em;}

/**
 * #layout-2b
 */
.two-sidebars .content-inner{margin-left:50%;}
.sidebar-left .content-inner{margin-left:25%;}
.sidebar-right .content-inner{margin-left:25%;}
#sidebar-first{width:25%;margin-right:-50%;}
#sidebar-last{width:25%;margin-right:-25%;}
.sidebar-left #sidebar-first{width:25%;margin-right:-25%;}

/**
 * #layout-2c
 */
.two-sidebars .content-inner{margin-left:480px;}
.sidebar-left .content-inner{margin-left:240px;}
.sidebar-right .content-inner{margin-left:240px;}
#sidebar-first{width:240px;margin-right:-480px;}
#sidebar-last{width:240px;margin-right:-240px;}
.sidebar-left #sidebar-first{width:240px;margin-right:-240px;}


/*********************************************************
   
  Layout 3
   
  The layout-3 layouts postion both sidebars to the left
  of the main content column, i.e.
			
  Content  | Last | First 
			
  There are 3 variants that use one of Ems, Percentages or 
  Pixels to set the widths and margins:
			
  #layout-3a - Ems (elastic sidebars)
  #layout-3b - Percentages (fluid sidebars)
  #layout-3c - Pixels (fixed sidebars)
 
**********************************************************/
/**
 * #layout-3a
 */
.two-sidebars .content-inner{margin-right:40em;}
.sidebar-left .content-inner{margin-right:20em;}
.sidebar-right .content-inner{margin-right:20em;}
#sidebar-first{width:20em;margin-right:-100%;}
#sidebar-last{width:20em;margin-right:-100%;}
.two-sidebars #sidebar-last{width:20em;position:relative;right:20em;}

/**
 * #layout-3b
 */
.two-sidebars .content-inner{margin-right:50%;}
.sidebar-left .content-inner{margin-right:25%;}
.sidebar-right .content-inner{margin-right:25%;}
#sidebar-first{width:25%;margin-right:-100%;}
#sidebar-last{width:25%;margin-right:-100%;}
.two-sidebars #sidebar-last{width:25%;position:relative;right:25%;}

/**
 * #layout-3c
 */
.two-sidebars .content-inner{margin-right:480px;}
.sidebar-left .content-inner{margin-right:240px;}
.sidebar-right .content-inner{margin-right:240px;}
#sidebar-first{width:240px;margin-right:-100%;}
#sidebar-last{width:240px;margin-right:-100%;}
.two-sidebars #sidebar-last{width:240px;position:relative;right:240px;}
