.threecol-split-row-12--7-5 .has-regions--2-3 .region {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
}
.threecol-split-row-12--7-5 .has-regions--2-3 .region:last-child {
  width: 40.67797%;
  float: right;
  margin-right: 0;
}
.threecol-split-row-12--7-5 .active-region-count--3 .region:nth-child(2) {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
}
.threecol-split-row-12--7-5 .active-region-count--3 .region:last-child {
  width: 40.67797%;
  float: right;
  margin-right: 0;
}
