.threecol-split-row-8-4--12 .has-regions--1-2 .region {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}
.threecol-split-row-8-4--12 .has-regions--1-2 .region:last-child {
  width: 32.20339%;
  float: right;
  margin-right: 0;
}
.threecol-split-row-8-4--12 .active-region-count--3 .region:first-child {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}
.threecol-split-row-8-4--12 .active-region-count--3 .region:nth-child(2) {
  width: 32.20339%;
  float: right;
  margin-right: 0;
}
.threecol-split-row-8-4--12 .active-region-count--3 .region:last-child {
  clear: both;
}
