.threecol-split-row-12--3-9 .has-regions--2-3 .region {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
.threecol-split-row-12--3-9 .has-regions--2-3 .region:last-child {
  width: 74.57627%;
  float: right;
  margin-right: 0;
}
.threecol-split-row-12--3-9 .active-region-count--3 .region:nth-child(2) {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
.threecol-split-row-12--3-9 .active-region-count--3 .region:last-child {
  width: 74.57627%;
  float: right;
  margin-right: 0;
}
