.threecol-split-row-4-8--12 .has-regions--1-2 .region {
  width: 32.2033898%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-split-row-4-8--12 .has-regions--1-2 .region:last-child {
  width: 66.1016949%;
  float: right;
  margin-right: 0;
}
.threecol-split-row-4-8--12 .active-region-count--3 .region:first-child {
  width: 32.2033898%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-split-row-4-8--12 .active-region-count--3 .region:nth-child(2) {
  width: 66.1016949%;
  float: right;
  margin-right: 0;
}
.threecol-split-row-4-8--12 .active-region-count--3 .region:last-child {
  clear: both;
}
