.threecol-2-8-2 .active-region-count--2 .region {
  width: 49.1525424%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-2-8-2 .active-region-count--2 .region:last-child {
  float: right;
  margin-right: 0;
}
.threecol-2-8-2 .active-region-count--3 .region {
  width: 15.2542373%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-2-8-2 .active-region-count--3 .region:nth-child(2) {
  width: 66.1016949%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-2-8-2 .active-region-count--3 .region:last-child {
  float: right;
  margin-right: 0;
}
