.threecol-4-5-3 .active-region-count--2 .region {
  width: 57.6271186%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-4-5-3 .active-region-count--2 .region:last-child {
  width: 40.6779661%;
  float: right;
  margin-right: 0;
}
.threecol-4-5-3 .active-region-count--3 .region:first-child {
  width: 32.2033898%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-4-5-3 .active-region-count--3 .region:nth-child(2) {
  width: 40.6779661%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-4-5-3 .active-region-count--3 .region:last-child {
  width: 23.7288136%;
  float: right;
  margin-right: 0;
}
