.threecol-5-2-5 .active-region-count--2 .region {
  width: 57.6271186%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-5-2-5 .active-region-count--2 .region:last-child {
  width: 40.6779661%;
  float: right;
  margin-right: 0;
}
.threecol-5-2-5 .active-region-count--3 .region {
  width: 40.6779661%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-5-2-5 .active-region-count--3 .region:nth-child(2) {
  width: 15.2542373%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-5-2-5 .active-region-count--3 .region:last-child {
  float: right;
  margin-right: 0;
}
