.threecol-split-row-2-10--12 .has-regions--1-2 .region {
  width: 15.2542373%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-split-row-2-10--12 .has-regions--1-2 .region:last-child {
  width: 83.0508475%;
  float: right;
  margin-right: 0;
}
.threecol-split-row-2-10--12 .active-region-count--3 .region:first-child {
  width: 15.2542373%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-split-row-2-10--12 .active-region-count--3 .region:nth-child(2) {
  width: 83.0508475%;
  float: right;
  margin-right: 0;
}
.threecol-split-row-2-10--12 .active-region-count--3 .region:last-child {
  clear: both;
}
