.threecol-split-row-12--3-9 .has-regions--2-3 .region {
  width: 23.7288136%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-split-row-12--3-9 .has-regions--2-3 .region:last-child {
  width: 74.5762712%;
  float: right;
  margin-right: 0;
}
.threecol-split-row-12--3-9 .active-region-count--3 .region:nth-child(2) {
  width: 23.7288136%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-split-row-12--3-9 .active-region-count--3 .region:last-child {
  width: 74.5762712%;
  float: right;
  margin-right: 0;
}
