.threecol-split-row-12--5-7 .has-regions--2-3 .region {
  width: 40.6779661%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-split-row-12--5-7 .has-regions--2-3 .region:last-child {
  width: 57.6271186%;
  float: right;
  margin-right: 0;
}
.threecol-split-row-12--5-7 .active-region-count--3 .region:nth-child(2) {
  width: 40.6779661%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-split-row-12--5-7 .active-region-count--3 .region:last-child {
  width: 57.6271186%;
  float: right;
  margin-right: 0;
}
