.threecol-split-row-9-3--12 .has-regions--1-2 .region {
  width: 74.5762712%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-split-row-9-3--12 .has-regions--1-2 .region:last-child {
  width: 23.7288136%;
  float: right;
  margin-right: 0;
}
.threecol-split-row-9-3--12 .active-region-count--3 .region:first-child {
  width: 74.5762712%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-split-row-9-3--12 .active-region-count--3 .region:nth-child(2) {
  width: 23.7288136%;
  float: right;
  margin-right: 0;
}
.threecol-split-row-9-3--12 .active-region-count--3 .region:last-child {
  clear: both;
}
