.threecol-split-row-12--4-8 .has-regions--2-3 .region {
  width: 32.2033898%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-split-row-12--4-8 .has-regions--2-3 .region:last-child {
  width: 66.1016949%;
  float: right;
  margin-right: 0;
}
.threecol-split-row-12--4-8 .active-region-count--3 .region:nth-child(2) {
  width: 32.2033898%;
  float: left;
  margin-right: 1.6949153%;
}
.threecol-split-row-12--4-8 .active-region-count--3 .region:last-child {
  width: 66.1016949%;
  float: right;
  margin-right: 0;
}
