@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--global\.scss}line{font-family:\000038}}
#block-seven-help,
legend {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--global\.scss}line{font-family:\0000313}}
fieldset {
  margin: 0;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--global\.scss}line{font-family:\0000318}}
#system-theme-settings label {
  margin: 0 0 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--global\.scss}line{font-family:\0000323}}
.form-type-vertical-tabs fieldset {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--global\.scss}line{font-family:\0000328}}
details {
  margin: 0.5em 0;
  border-radius: 4px;
  background: #FCFCFA;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--global\.scss}line{font-family:\0000333}}
details details {
  background: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--global\.scss}line{font-family:\0000338}}
blockquote {
  border-left: 10px solid #A6A5A1;
  padding-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--global\.scss}line{font-family:\0000343}}
code, pre, kbd {
  font-size: 1em !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--global\.scss}line{font-family:\0000347}}
code {
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--global\.scss}line{font-family:\0000351}}
pre code {
  font-weight: 400;
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--global\.scss}line{font-family:\0000357}}
pre.code-block {
  background: #F5F5F2;
  border: 1px solid #ccc;
  font-weight: 400;
  margin: 0;
  padding: 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\000034}}
#edit-layouts {
  padding: 0;
  border: 1px solid #BFBFBA;
  background: #FCFCFA;
  border-radius: 4px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\0000311}}
#edit-layouts .details-wrapper {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\0000316}}
#edit-layouts #edit-adv-options .details-wrapper {
  padding: 0.5em 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\0000320}}
#edit-layouts #edit-adv-options #edit-selectors details .details-wrapper {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\0000324}}
#edit-layouts #edit-adv-options pre {
  background: #F5F5F2;
  border-top: 1px solid #ccc;
  font-weight: 400;
  margin: 0;
  padding: 1em 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\0000334}}
#edit-layouts .submit--layout {
  background: #FCFCFA;
  border-top: 1px solid #BFBFBA;
  clear: both;
  margin: 0;
  padding: 1em 0.5em;
  position: relative;
  z-index: 10;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\0000344}}
#edit-layouts h2,
#edit-layouts h3,
#edit-layouts h4,
#edit-layouts h5 {
  font-size: 1em;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\0000352}}
#edit-layouts .fieldset-wrapper {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\0000356}}
#edit-layouts #edit-layouts--description,
#edit-layouts #edit-layouts-enable-container {
  padding: 0 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\0000361}}
#edit-layouts #edit-settings-layouts-disabled {
  font-size: 0.923em;
  line-height: 1.295em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\0000366}}
#edit-layouts #edit-layouts-enable-container {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\0000370}}
#edit-layouts .form-item-settings-layouts-enable {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\0000375}}
#edit-layouts .layouts-column {
  float: left;
  border: 0;
  margin: 0;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  border-top: 1px solid #BFBFBA;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\0000387}}
#edit-layouts .layouts-column-one {
  width: 30%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\0000391}}
#edit-layouts .layouts-column-two {
  width: 40%;
  border-left: 1px solid #BFBFBA;
  border-right: 1px solid #BFBFBA;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\0000396}}
#edit-layouts .layouts-column-two details {
  border: 0 none;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003102}}
#edit-layouts .layouts-column-three {
  width: 30%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003106}}
#edit-layouts .table-layouts {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003109}}
#edit-layouts .table-layouts .field-hidden {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003113}}
#edit-layouts .table-layouts .collapse-processed > summary {
  padding-left: 0;
  padding-right: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003118}}
#edit-layouts .table-layouts details > .details-wrapper {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003122}}
#edit-layouts .table-layouts tbody > tr > td {
  width: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003126}}
#edit-layouts .table-layouts td {
  vertical-align: top;
  padding: 20px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003132}}
#edit-layouts .table-layouts img {
  display: block;
  max-width: 100px;
  max-height: 140px;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003139}}
#edit-layouts .table-layouts .field-name,
#edit-layouts .table-layouts .field-desc {
  min-width: 18em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003144}}
#edit-layouts .table-layouts .field-screenshot {
  width: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003146}}
#edit-layouts .table-layouts .field-screenshot a {
  color: #747474;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003148}}
#edit-layouts .table-layouts .field-screenshot a:hover, #edit-layouts .table-layouts .field-screenshot a:focus {
  color: #595959;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003156}}
#edit-layouts .table-layouts .plus-icon {
  text-align: left;
  font-size: 0.8em;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003162}}
#edit-layouts .table-layouts h3 {
  margin: 0 0 1.15em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003167}}
#edit-layouts dl {
  white-space: nowrap;
  min-width: 15em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003171}}
#edit-layouts dl dt {
  float: left;
  width: 5.5em;
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003177}}
#edit-layouts dl dd {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003182}}
#edit-layouts .current-default-layout-meta {
  font-size: 0.923em;
  line-height: 1.295em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003189}}
#edit-manage-suggestions {
  border: 0;
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003197}}
.table-suggestions .select-all input {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003202}}
.form-item-layout-type-select {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003206}}
#edit-default-not-set,
#edit-default-set,
#edit-none-set {
  border-top: 1px solid #BFBFBA;
  border-bottom: 1px solid #BFBFBA;
  margin: 10px 0 20px;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003216}}
#edit-default-not-set {
  background-color: #fcf4f2;
  color: #a51b00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003222}}
#edit-none-set {
  background-color: #f3faef;
  color: #325e1c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003228}}
#edit-default-set {
  background: #F7FCFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003231}}
#edit-default-set ol {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003236}}
#edit-default-set ol, #edit-default-set p {
  font-size: 0.923em;
  line-height: 1.231em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003243}}
#edit-suggestions {
  padding-top: 0;
  padding: 10px;
  background: #F7FCFF;
  border-top: 1px solid #BFBFBA;
  border-bottom: 1px solid #BFBFBA;
  margin: 10px 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003251}}
#edit-suggestions label {
  padding-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003255}}
#edit-suggestions .description {
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003259}}
#edit-suggestions ol {
  margin: 0;
  padding: 0 0 0 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003266}}
#edit-options,
.form-item-layout-suggestion,
#edit-no-mq-css {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003273}}
#edit-no-base-layout {
  border: 1px solid #B3B2AD;
  border-color: #f4daa6;
  color: #734c00;
  background-color: #fdf8ed;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003283}}
#edit-options .form-disabled {
  background: #f7f7f7;
  margin: 0;
  padding: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003292}}
#edit-max-width .form-item-settings-max-width-value,
#edit-max-width .form-item-settings-max-width-unit {
  display: inline-block;
  margin-right: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003299}}
.layout-structure-screenshot {
  background-image: url("../../docs/help_subtheme/layout-structure.png");
  max-width: 308px;
  min-height: 163px;
}

@media (max-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003307}}
  #edit-layouts .form-radios label {
    max-width: 120px;
  }
}
@media (max-width: 56em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--layouts\.scss}line{font-family:\00003314}}
  #edit-default-layout {
    float: none;
    clear: both;
    margin: 0;
    padding: 0 0 10px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\000036}}
#edit-advanced-settings > .details-wrapper {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\0000310}}
#edit-advanced-settings .vertical-tabs {
  /*
      border-left: 0;
      border-right: 0;
  */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\0000317}}
#edit-advanced-settings .submit--advanced-settings {
  padding: 0 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\0000326}}
#edit-font-settings fieldset {
  border-bottom: 1px solid #BFBFBA;
  padding-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\0000330}}
#edit-font-settings fieldset .fieldset-description h3 {
  font-size: 1em;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\0000335}}
#edit-font-settings fieldset fieldset {
  border: 0;
  padding: 0;
}

/* Image alignment options */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\0000348}}
#edit-image-settings .description,
#edit-image-settings .form-type-radios {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\0000354}}
#edit-image-settings details details {
  border: 0;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\0000360}}
#edit-image-settings details fieldset legend {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
  font-family: inherit;
  font-size: 1em;
  line-height: normal;
  font-family: inherit;
  padding: 0 0 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\0000368}}
#edit-image-settings .form-type-radios label {
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\0000374}}
#edit-image-settings .form-type-radio {
  clear: none;
  float: left;
  margin: 0 30px 10px 0;
  text-align: center;
  width: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\0000381}}
#edit-image-settings .form-type-radio input.form-radio {
  margin-bottom: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\0000385}}
#edit-image-settings .form-type-radio label {
  background-image: url(image-alignment-sprite.png);
  background-repeat: no-repeat;
  display: table-cell;
  font-size: 0.8em;
  height: 80px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  vertical-align: bottom;
  width: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\0000397}}
#edit-image-settings .form-type-radio label[for$=-none] {
  background-position: 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\0000398}}
#edit-image-settings .form-type-radio label[for$=-left] {
  background-position: -50px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\0000399}}
#edit-image-settings .form-type-radio label[for$=-center] {
  background-position: -100px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\00003100}}
#edit-image-settings .form-type-radio label[for$=-right] {
  background-position: -150px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\00003110}}
#edit-titles details label {
  display: inline-block;
  width: 8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\00003122}}
#edit-touch-icons-settings .form-type-textfield {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\00003126}}
#edit-touch-icons-settings label {
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--advanced\.scss}line{font-family:\00003130}}
#edit-touch-icons-settings .field-prefix {
  color: #666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--basic\.scss}line{font-family:\000034}}
#edit-basic-settings {
  overflow: hidden;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--basic\.scss}line{font-family:\000039}}
.theme-settings-bottom {
  clear: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--basic\.scss}line{font-family:\0000313}}
#system-theme-settings .vertical-tabs,
#system-theme-settings .form-type-vertical-tabs {
  /*
    margin: 0;
    border-radius: 0;
  */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--basic\.scss}line{font-family:\0000323}}
#edit-jquery .form-type-checkbox .description {
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--basic\.scss}line{font-family:\0000330}}
#edit-drupal-core .form-type-checkbox {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--basic\.scss}line{font-family:\0000334}}
#edit-drupal-core small {
  display: block;
  margin-left: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--basic\.scss}line{font-family:\0000338}}
#edit-drupal-core small:before {
  content: "- ";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--help\.scss}line{font-family:\000037}}
#edit-help h1,
#edit-subtheme-help h1 {
  font-size: 1.25em;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--help\.scss}line{font-family:\0000312}}
#edit-help h2, #edit-help h3, #edit-help h4,
#edit-subtheme-help h2,
#edit-subtheme-help h3,
#edit-subtheme-help h4 {
  margin: 2em 0 0;
  padding-bottom: 0;
  font-size: 1em;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--help\.scss}line{font-family:\0000319}}
#edit-help ol, #edit-help ul,
#edit-subtheme-help ol,
#edit-subtheme-help ul {
  margin-bottom: 1em;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--help\.scss}line{font-family:\0000325}}
#edit-help-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--help\.scss}line{font-family:\0000331}}
.status-block {
  float: right;
  width: 200px;
  padding: 10px;
  margin: 0 0 10px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--help\.scss}line{font-family:\0000337}}
.status-block.warning {
  background: #FDF8ED;
  color: #734C00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--help\.scss}line{font-family:\0000344}}
.status-block.status {
  background: #f3faef;
  color: #325e1c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--help\.scss}line{font-family:\0000352}}
.status-block h2 {
  font-size: 1em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--help\.scss}line{font-family:\0000356}}
.status-block p, .status-block h2 {
  margin: 0 !important;
  padding: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--generator\.scss}line{font-family:\000034}}
#edit-generate-options {
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--generator\.scss}line{font-family:\000038}}
#edit-generate-generate-type {
  min-width: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--generator\.scss}line{font-family:\0000312}}
.generate-type__description {
  margin-top: -10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal80x\/drupal_atLayouts_test\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/_appearance--color\.scss}line{font-family:\000034}}
#color_scheme_form h2,
#color_scheme_form #preview {
  display: none;
}
