@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal8\/Drupal\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/nuetralize-toolbar\.scss}line{font-family:\000033}}
#toolbar-administration {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jmburnz\/Sites\/contrib\/drupal8\/Drupal\/themes\/adaptivetheme\/at_core\/stylesheets\/sass\/nuetralize-toolbar\.scss}line{font-family:\000036}}
body {
  padding: 0 !important;
  margin: 0 !important;
}
