/* $Id$ */
/* adaptivethemes.com */

/**
 * @file gpanels-960-fixed.css
 */
.gpanel div.block{padding:0 10px;}
.gpanel{clear:both;}
.gpanel .region{display:inline;float:left;}
/* 2 column */
.two-col-2x50 .region{width:480px;}
.two-col-33-66 .col-1{width:320px;}
.two-col-33-66 .col-2{width:640px;}
.two-col-66-33 .col-1{width:640px;}
.two-col-66-33 .col-2{width:320px;}
/* 3 column */
.three-col-3x33 .region{width:330px;}
.three-col-25-25-50 .region{width:240px;}
.three-col-50-25-25 .col-1{width:480px;}
.three-col-50-25-25 .col-2,
.three-col-50-25-25 .col-3{width:240px;}
/* 4 column */
.four-col-4x25 .region{width:240px;}
/* 5 column */
.five-col-5x20 .region{width:192px;}
/* 6 column */
.six-col-6x16 .region{width:160px;}